// account view single order data 
#view-order {
    display: none;
    p {
        padding: 0;
        margin: 0;
    }
       //Dashboard and orders URL table 
    table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

        th {
            padding: 15px 0 15px 20px;
        }

        td {
            padding: 15px 0 15px 20px;
        }
    }
}