// Data for each Nav menu url 

#my-account-dashboard {
        display: none;

    //Dashboard and orders URL table 
    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        }

    th {
        @include var.header-title;
        background-color:var.$table-header-background-color-v1;
        padding: 10px 0 10px 0;
    }

    td {
        @include var.par-body;
        padding: 10px 0 10px 0;
        background-color: var.$table-body-background-color-v1;

        button {
            padding: 7px;
            border-color: transparent;
            cursor: pointer;
        }
        button:hover {
            @include var.hover-secondary;
        }
    } 
}

@media screen and (max-width: 850px) {
    // My account page mobile styling
        
    // MY ACCOUNT DATA OF EACH URL
    #my-account-data {
        width: 100%;
        padding: 0;

        #my-account-dashboard {

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr { 
                display: block;
            }
            
            /* Hide table headers (but not display: none;, for accessibility) */
            thead { 
                display: none;
            }
            // LIGHT BORDER FOR EACH ROW
            tr { border: 1px solid #ccc; }
            // EACH DATA ON LINE
            td { 
                /* Behave  like a "row" */
                border: none;
                position: relative;
                padding-left: 50%; 
                padding-bottom: 22px;
            }
            // DATA HEADER ON EACH LINE
            td:before { 
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
                @include var.nav-title;
            }
            
            /*
            DATA LABEL HEADER FOR EACH DATA LINE ON MOBILE
            */
            td:nth-of-type(1):before { content: "Order"; }
            td:nth-of-type(2):before { content: "Date:"; }
            td:nth-of-type(3):before { content: "Status:"; }
            td:nth-of-type(4):before { content: "Total:"; }
            td:nth-of-type(5):before { content: "Action:"; }
        }
    }
}

