
#account-detail {
    display: none;

    .user-profile-data {
        
        .user-username-display {
            h3 {
                margin: 0;
            }
            
        }
        .user-email-profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .edit-account {display: none;}
    form {
        padding: 20px ;
        .account-display-name-note {
            padding: 0px 0px 10px 0px; 
            margin: 0;
            @include var.note;
        }
        div {
            padding-bottom: 10px;
        }

        label {
            @include var.par-body-2;
        }

        .account-1st-row {
            @include var.flex-default;
            width: 100%;
            .account-first-name {
                padding-right: 20px;
            }
            .account-first-name, .account-last-name {
                display: block;
                width: 50%;
            }
        }
        input {
            @extend .input-style-prim;
        }
        
        input[type=submit] {
          @extend .input-submit-button-prim;
        }
        
        input[type=submit]:hover {
            @include var.hover-secondary;
        }
    }
}

@media screen and (max-width: 750px) {
    .account-1st-row {
        display: block !important;
        .account-first-name {
            padding-right: 0px !important;
        }
        .account-first-name, .account-last-name {
            width: 100% !important;
        }
    }
}