// Import varable and mixins
@use '../abstracts/all.scss' as var;

.login-register-container {
    width: 100%;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px ;

    .register-container {
        padding-top: 20px ;
    }

    .breaker {
        width: 100%;
        display: inline-block;
        hr.rounded {
            border-top: 8px solid #bbb;
            border-radius: 5px;
        }
    }

    .login-container {

        // !!! COPIED FORM CHEKOUT FORM 
        form {

            label {
                @include var.par-body-2;
            }

            input, textarea {
                @extend .input-style-prim;
            }

            // !!! COPIED FROM ACCOUNT EDIT 
            input[type=submit] {
                @extend .input-submit-button-prim;
            }
        }
    }
}