// Import varable and mixins
@use '../abstracts/all.scss' as var;

// SINGLE PRODUCT PAGE container styling
.single-product-page-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'nt nt nt nt nt nt nt nt nt nt nt nt'
    'i i i i i i h h h h h h'
    'i i i i i i h h h h h h'
    'i i i i i i h h h h h h'
    'v v v v v v v v v v v v'
    'il il il il il il il il il il il il'
    'ld ld ld ld ld ld ld ld ld ld ld ld'
    'd d d d d d d d d d d d';

    .single-product-title {
        grid-area: nt;
        @include var.sub-title;
    }

    .single-product-image {
        grid-area: i;
        display: block;
        width: 100%;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .single-product-image-thumb {
        @include var.flex-default;
        justify-content: flex-start;    
        img {     
            max-width: 10%;
            margin-right: 20px;
        }
    }

    .product-highlight {
        grid-area: h;
        .single-product-price {
            @include var.sub-title;
        }

        .single-product-quantity {
            @include var.single-input-number-v1;  
        }

        .single-product-addtocart {
            @include var.button-secondary;
            margin-left: 30px;
        }

        .single-product-specs {
            padding-top: 15px;
            
            h1 {
                @include var.sub-title;
            }

            ul.specs-list{
                @include var.par-body;

                li {
                    padding-bottom: 5px;
                }
            }
        }
    }

    .single-product-video {
        grid-area: v;
        display: flex;
        justify-content: center;
        // display: block;
        // padding-right: 10%;
        // padding-left: 10%;
      
     
        // .spv {
        //     // display: block;
            
            .single-video { 
                embed {
                    width: 800px;
                    height: 450px;
                }
                // position: relative; 
                // width: 100%;
                // overflow: hidden;
                // padding-top: 56.25%; /* 16:9 Aspect Ratio */
                
                // iframe {   
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     bottom: 0;
                //     right: 0;
                //     width: 100%;
                //     height: 100%;
                //     border: none;
                // }
            }
        // }
    }

    .single-product-image-long {
        grid-area: il;
    }

    .single-product-long-desc {
        grid-area: ld;
    }

    .single-product-dimention {
        grid-area: d;
    }
}
