@use '../../abstracts/all' as var;

// CART CHECKOUT Container 
.cart-total-container {
    width: 75%;
    @include var.flex-default;
    justify-content: flex-end;

    // sub container area to control edges
    div {  
        width: 47%;
        padding: 0 0 30px 0;
        
        // Title over checkout tabel (cart totals)
        .cart-total-title {
            @include var.sub-title;
        }
        
        // Check out table element 
        table {
            width: 100%;
            border-collapse: collapse;
            th {
                padding: 15px 0px 15px 0px;
                background-color: var.$table-header-background-color-v1;
                vertical-align: top;
                @include var.header-title;
            }

            td {
                padding: 17px 40px 0px 17px;
                @include var.par-body;
                vertical-align: top;
                background-color: var.$table-body-background-color-v1;
            }
        }

        // the proceed check out button under tabel 
        button {
            @include var.button-style-wide;
            width: 100% !important;
            font-size: x-large;  
        }   
        button:hover {
            @include var.hover-secondary;
        }
    }
}

// Mobile and Tablet responsivity 
@media screen and (max-width: 850px) {
    // CHECKOUT CONTAINER 
    .cart-total-container {
        width: 90%;
        div {  
            width: 100%;
        }
    }
}