
@use 'variables' as var;

// display flex for several browser 
@mixin flex-default {
    display: flex;
    display: -webkit-flex;
}

@mixin flex-v-h-align {

    align-items: center;
    justify-content: space-around;
}

@mixin backround-bordertop-color {
    background-color: var.$back-color;
    border-top: 5px solid var.$identity-color;
}

@mixin input-button-style {
    padding: 15px;
    background-color: #f2f2f2;
    color: #43454b;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 13%);
    font-size: 15px;
}

@mixin top-title {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: var.$back-color;
    font-weight: 600;
}

@mixin sub-title {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: var.$back-color;
    font-weight: 500;
}

@mixin par-title {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var.$back-color;
    font-weight: 600 ;
}

@mixin par-body {
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var.$back-color;
    font-weight: 400;
}

@mixin par-body-2 {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var.$back-color;
    font-weight: 400;
}

@mixin header-title {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var.$back-color;
    font-weight: 600;
    
}

@mixin note {
    font-size: small;
    font-family: fantasy;
    color: var.$back-color;
    font-weight: 400;
    font-style: italic;
}

@mixin nav-title {
    font-size: 16px;
    font-family: fantasy;
    color: var.$back-color;
    font-weight: 600;
}

@mixin icon-title {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: var.$back-color;
    font-weight: 550;
    
}










