// defining design color style
$back-color:  #292826;      //secondary color
$identity-color: #F9D342;   //primary color 
$primary-font: Arial, sans-serif;
$secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$third-font: Verdana, Geneva, Tahoma, sans-serif;