
#account-detail {
    display: none;

    .user-profile-data {
        
        .user-username-display {
            h3 {
                margin: 0;
            }
            
        }
        .user-email-profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .default-user-shipping {
            p{
                padding: 0px !important;
                margin: 0px;
            }
            button {
                margin-top: 15px;
                @include var.button-secondary
            }
        }
    }

    
}

@media screen and (max-width: 750px) {
    .account-1st-row {
        display: block !important;
        .account-first-name {
            padding-right: 0px !important;
        }
        .account-first-name, .account-last-name {
            width: 100% !important;
        }
    }
}