html {
  height: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 1.618;
  font-family: "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 13px;
}

html, body, nav, header, h1, h2, h3, h4, h5, h6, p, ol, li, button, form, span, iframe, table {
  margin: 0;
  padding: 0;
}

.icons {
  color: #F9D342;
}

.slider-img-desktop, .slider-img-mobile {
  display: none;
}

* {
  box-sizing: border-box;
}

/* Any Page content to be used for sevarel elements */
.page-content {
  padding: 0px;
}

.show {
  display: block !important;
}

.layout-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "info info info info info info sm sm sm sm sm sm" "logo logo logo logo logo logo sn sn sn sn sn sn";
}

@media screen and (max-width: 530px) {
  .layout-grid-container {
    grid-template-areas: "info info info info info info info info info info info info" "logo logo logo logo logo logo logo logo logo logo logo logo";
  }
}
.header-top-bar-left {
  grid-area: info;
  background-color: #292826;
}
.header-top-bar-left ul {
  display: flex;
  display: -webkit-flex;
  color: white;
  list-style: none;
}
.header-top-bar-left ul li {
  align-self: center !important;
}
.header-top-bar-left a:link {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}
.header-top-bar-left .phone-number {
  transition: background-color 1s, font-size 1s, weight 1s;
}
.header-top-bar-left .phone-number:hover {
  background-color: #F9D342;
  font-weight: 500;
  border-radius: 5px;
  border-color: transparent;
}
.header-top-bar-left .phone-number:hover .fa-phone-alt {
  color: white;
}
@media screen and (max-width: 530px) {
  .header-top-bar-left ul {
    margin: 0;
    padding: 5px 0 5px 0;
    justify-content: space-evenly;
  }
}

.header-top-bar-right {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: sm;
  background-color: #292826;
  padding-right: 40px;
}
.header-top-bar-right .social-media-nav {
  padding: 10px 20px 15px 20px;
  color: white;
  transition: background-color 1s, transform 1s;
}
.header-top-bar-right .social-media-nav:hover {
  background-color: #F9D342;
  transform: rotate(360deg);
}

@media screen and (max-width: 530px) {
  .header-top-bar-right {
    display: none !important;
  }
}
.logo-nav {
  grid-area: logo;
  background-color: #292826;
  padding-left: 20px;
  border-top: 5px solid #F9D342;
}

.search-box-nav {
  grid-area: sn;
  background-color: #292826;
  border-top: 5px solid #F9D342;
}
.search-box-nav .search-site {
  float: right;
  padding-right: 50px;
}

form.search-site input[type=text] {
  border-bottom-left-radius: 4px;
  padding: 12px 20px;
  font-size: 15px;
  border: 1px solid #F9D342;
  float: left;
  width: 220px;
  background: #f1f1f1;
}

form.search-site button {
  float: left;
  width: 40px;
  padding: 10.5px 10px 10.5px 10px;
  background: #F9D342;
  color: white;
  font-size: 17px;
  border: 1px solid #F9D342;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  border-bottom-right-radius: 4px;
}

@media screen and (max-width: 630px) {
  .search-site {
    padding-right: 3px !important;
  }
}
@media screen and (max-width: 530px) {
  .search-box-nav {
    display: none !important;
  }
}
#navigation-mobile, .mobile-menu-btn {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobile-menu-btn {
    float: right;
    display: block;
    padding: 3px 3px 0px 0px;
  }
  .mobile-menu-btn .humberger {
    background-color: #F9D342;
    font-size: 20px;
    border: #F9D342;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #navigation-mobile {
    background-color: #292826;
    width: 35%;
    float: left;
    padding-right: 30px 0 0 0;
    font-size: 16px;
  }
  #navigation-mobile ul {
    list-style: none;
    padding-left: 20px;
  }
  #navigation-mobile li {
    padding-bottom: 7px;
  }
  #navigation-mobile a {
    text-decoration: none;
    color: white;
  }
}
#mobile-footer-menu {
  display: none;
}

@media screen and (max-width: 480px) {
  #mobile-footer-menu {
    display: block;
    background-color: #292826;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0px 10px 10%;
  }
  #mobile-footer-menu .footer-navigation {
    justify-content: center;
    display: flex;
  }
  #mobile-footer-menu a {
    padding: 0px 10% 0px 0px;
  }
}
@media screen and (max-width: 480px) {
  #myLinks, .dot, .imgd, #featured-products {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
