// defining design color style
$back-color:  #292826;
$identity-color: #F9D342;

// page style in general
html, body {
    margin: 0px; 
    padding: 0px;
    height: 100%; 
    font-weight: 400;
    line-height: 1.618; 
    font-family:Helvetica; 
    font-size:13px; 
}


// header {
//     position: fixed;
//     width: 100%;
//     margin-top: -20px;
// }

// Don't SHow mobile menu and button on desktop 
#navigation-mobile, .mobile-menu-btn {
    display: none;
}

// CONSTANT TO ALL NAVIGATION ICONS STYLE
.icons {
    color: $identity-color;
}


/* the fist header top bar that contain phone and social media links */
.top-bar {
    background-color: $back-color;
}

// phone and deliver ul styling 
.top-bar-left ul {
        display: inline-flex;
        color: white;
        list-style: none;
        font-size: 14px;
        font-family: "Roboto",Sans-serif;
        font-weight: 400;
    }
// phone and number disable url style and add padding
.top-bar-left a:link {
    color:white;
    text-decoration: none;
    padding-right: 20px;
}


// phone and number element transition animated trasition setting
.phone {
    transition: background-color 1s, font-size 1s, weight 1s;
}

// phone icon and number on hover transtion 
.phone:hover {
    background-color: $identity-color;
    font-weight: 500;
    border-radius: 5px;
}

// phone icon when phone class on hover to change icont color 
.phone:hover .fa-phone-alt{
    color: white;
}

//set phone, deliver and social media element on the same line
.top-bar-right, .top-bar-left {
    display: inline;
}

//mode the social media element in the same line to the right 
.top-bar-right {
    float: right;
    padding-right: 40px;
}

// social media icone styling and setting animated transition
.social-media {
    padding: 10px 20px 15px 20px;
    color: white;
    font-size: 25px;
    transition: background-color 1s,transform 1s;
}
// social media icons on hover animation trasition action
.social-media:hover {
    background-color: $identity-color;
    transform: rotate(360deg);
}


// navigation section style default
nav {
    background-color: $back-color;
    border-top: 5px solid $identity-color;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

// logo image style
.logo {
    padding-left: 20px;
}

// search box section style default 
.search-box {
    float: right;
    width: 37%;
}

// set logo and search on same line
.logo, .search-box {
    display: inline-flex;
}

.myAccount {
    padding-top: 20px;
    width: 30%;
    color:white;
    text-decoration: none;  
}

// search box form input style
form.search-site input[type=text] {
    border-bottom-left-radius: 4px ;
    padding: 12px 20px;
    font-size: 15px;
    border: 1px solid $identity-color;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
// search form button style 
form.search-site button {
    float: left;
    width: 20%;
    padding: 10.5px 20px;
    background: $identity-color;
    color: white;
    font-size: 17px;
    border: 1px solid $identity-color;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-bottom-right-radius: 4px ;
}

.navigation {
    color:$identity-color;
    padding: 15px 0px 20px 37px;
    font-size: 1.2em;
    font-weight: 400;
}
    
.navigation a {
    padding: 0 20px 0 0px;
    color: white;
}
    
.navigation a:link {
    text-decoration: none;
    padding-right: 20px;
}
        

.cart {
    float: right;
    width: 19%;
    color: white;
}
        

.cartIcon {
    float: right;
}
        
.cartUrl {
    text-decoration: none;
    color: white;
    padding-right: 40px;
    padding-left: 10px;
}
    
    
.navigation, .cart {
    display: inline-flex;
    padding-right: 0px;
}
    


// It helps form input seach and button icon to align for some reason
* {
    box-sizing: border-box;

}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

.footer {
    background-color: $back-color;

}

.show {
    display: block;
}



// MOBILE RESPONISVITY STYLE
@media only screen and (max-device-width: 480px) {
    .top-bar-right, .search-box, .cart, .navigation, #myLinks{
        display: none;
    }

    .logo {
        padding-left: 0px;
    }

   

    .phone {
        margin-left: -20px;
    }
    .top-bar-left a:link {
        padding: 0px 50px 0px 50px;
    } 

    .mobile-menu-btn {
        float: right;
        display: block;
        padding: 3px 3px 0px 0px;

        
        .humberger {
            background-color: $identity-color;
            font-size: 20px;
            border: $identity-color;
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;  
        }

        .menu-pargraph {
            font-size: 14px;
            vertical-align: middle;
            padding-left: 5px;
            margin: 0;
            width: 100%;
        }
    }


    #navigation-mobile {
        display: none;
        background-color: $back-color;  
        width: 35%;
        float: right;
        padding-right: 30px 0 0 0;
        font-size: 16px;
        

        ul {
            list-style: none;
            padding-left: 20px;
        }

        li {
            padding-bottom: 7px;
        
        }

        a {
            text-decoration: none;
            color: white;
        }

    }
}
  