// GLOBAL STYLE

// defining design color style
$back-color:  #292826;
$identity-color: #F9D342;

// page style in general
html, body {
    margin: 0px; 
    padding: 0px;
    height: 100%; 
    font-weight: 400;
    line-height: 1.618; 
    font-family:Helvetica; 
    font-size:13px; 

    // CONSTANT TO ALL NAVIGATION ICONS STYLE
    .icons {
        color: $identity-color;
    }
}

.imgd, .imgm {
    display: none;
}

/* the fist header top bar that contain phone and social media links */
.top-bar {
    background-color: $back-color;

    // phone and deliver ul styling 
    .top-bar-left {
        ul {
            display: inline-flex;
            color: white;
            list-style: none;
            font-size: 14px;
            font-family: "Roboto",Sans-serif;
            font-weight: 400;
            }

        // phone and number disable url style and add padding
        a:link {
            color:white;
            text-decoration: none;
            padding-right: 20px;
        }

        // phone and number element transition animated trasition setting
        .phone {
            transition: background-color 1s, font-size 1s, weight 1s;
        }

        // phone icon and number on hover transtion 
        .phone:hover {
            background-color: $identity-color;
            font-weight: 500;
            border-radius: 5px;
        }

        // phone icon when phone class on hover to change icont color 
        .phone:hover .fa-phone-alt{
            color: white;
        }
    }
}

// navigation section style default
#navbar {
    background-color: $back-color;
    border-top: 5px solid $identity-color;
    width: 100%;
    overflow: hidden;

    // Desktop navigation menu
    .navigation {
        color:$identity-color;
        padding: 15px 0px 20px 37px;
        font-size: 1.2em;
        font-weight: 400;
    }
}
    
.sticky {
    position: fixed ;
    top: 0 ;
    opacity: 80%;
    width: 100%;
} 

/* Page content */
.content {
    padding: 0px;
  }

// set logo and search on same line
.logo, .search-box {
    display: inline-flex;
}
    
// It helps form input seach and button icon to align for some reason
* {
    box-sizing: border-box;
}

// for the fotter push 
.wrapper {
    height: auto !important;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

// set the footer div at the end of the page 
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

// page footer 
.footer {
    background-color: $back-color;

}

// to be used on JS on any div display
.show {
    display: block !important;
}


// INDEX PAGE SYLE ------------

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    transition: transform 35s;
  }
  

  .mySlides:hover {
      transform: scale(1.3);
  }

  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: fixed;
    // top: 40%;
    width: auto;
    margin-top: -62px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    width: 100%;
    margin-top: -35px;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

// ..........................................................

// DESKTOP RESPONSIV STYLE screen bigger than 481 px 
@media only screen and (min-device-width: 481px) {

    // Don't SHow mobile menu and button on desktop 
    #navigation-mobile, .mobile-menu-btn, #mobile-footer-menu {
        display: none;
    }

    .imgd {display: block;}
    .imgm {display: none;}

    //set phone, deliver and social media element on the same line
    .top-bar-right, .top-bar-left {
        display: inline;
    }

    //mode the social media element in the same line to the right 
    .top-bar-right {
        float: right;
        padding-right: 40px;

        // social media icone styling and setting animated transition
        .social-media {
            padding: 10px 20px 15px 20px;
            color: white;
            font-size: 25px;
            transition: background-color 1s,transform 1s;
        }

        // social media icons on hover animation trasition action
        .social-media:hover {
            background-color: $identity-color;
            transform: rotate(360deg);
        }
    }

    .sticky + .content {
        padding-top: 130px;
    }
    
    // search box section style default 
    .search-box {
        float: right;
        width: 37%;
    }

    // My account button
    .myAccount {
        padding-top: 20px;
        width: 30%;
        color:white;
        text-decoration: none;  
    }

    // search box form input style
    form.search-site input[type=text] {
        border-bottom-left-radius: 4px ;
        padding: 12px 20px;
        font-size: 15px;
        border: 1px solid $identity-color;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    // search form button style 
    form.search-site button {
        float: left;
        width: 20%;
        padding: 10.5px 20px;
        background: $identity-color;
        color: white;
        font-size: 17px;
        border: 1px solid $identity-color;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
        border-bottom-right-radius: 4px ;
    }
    
    // logo image style
    .logo {
        padding-left: 20px;
    }

    // desktop navigation a element 
    .navigation a {
        padding: 0 20px 0 0px;
        color: white;
    }

    .navigation a:hover{
    color: $identity-color;
    }

    // desktop navigation link element  
    .navigation a:link {
        text-decoration: none;
        padding-right: 20px;
    }
            
    // Desktop car div
    .cart {
        float: right;
        width: 19%;
        color: white;
            
        // desktop cat icon 
        .cartIcon {
            float: right;
        }
        // desktop cart url        
        .cartUrl {
            text-decoration: none;
            color: white;
            padding-right: 40px;
            padding-left: 10px;
        }
    }
        
    // set desktop navigation menu and cart on same row   
    .navigation, .cart {
        display: inline-flex;
        padding-right: 0px;
    } 

    #cat-featured {
        width: 100%;
        padding: 0 10px 0 10px;

   
        #cat  {
            width: 50%;
            .cat-title {
                font-size: 10px;
            }  
        }

        #featured {
            width: 50%;
            .product-card {

                .card-img {
                    width: 15%;
                    background-color: yellowgreen;
                }
            }
        }

        #cat, #featured {
            display: inline-block;
        } 
    }
}


// ............................................................................

// MOBILE RESPONISVITY STYLE
@media only screen and (max-device-width: 480px) {
    // hide all desktop element that shouldn't appear on mobile 
    .top-bar-right, .search-box, .cart, .navigation, #myLinks, .dot, .imgd{
        display: none;
    }

    // Slider image change 

    .imgm {display: block;}
    .prev, .next {
        width: auto;
        position: absolute;
    }
    
    // navigation Y axes padding on scroll 
    .sticky + .content {
        padding-top: 70px !important;
    }

    // site logo at navigation 
    .logo {
        padding-left: 0px;
    }

    // phone information a the top 
    .phone {
        margin-left: -20px;
    }

    // firt row or bar at the top, link styling 
    .top-bar-left a:link {
        padding: 0px 50px 0px 50px;
    } 

    // menu humberger button parent div
    .mobile-menu-btn {
        float: right;
        display: block;
        padding: 3px 3px 0px 0px;

        // huberger Icon inside button 
        .humberger {
            background-color: $identity-color;
            font-size: 20px;
            border: $identity-color;
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;  
        }
    }

    // navigation menu for mobile 
    #navigation-mobile {
        display: none;
        background-color: $back-color;  
        width: 35%;
        float: left;
        padding-right: 30px 0 0 0;
        font-size: 16px;
        
        ul {
            list-style: none;
            padding-left: 20px;
        }

        li {
            padding-bottom: 7px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    #mobile-footer-menu {   
        display: block;
        background-color: $back-color;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px 0px 10px 10%;

        // Centering the footer navigation
        .footer-navigation {    
            justify-content: center;
            display: flex;
        }

        // icons spacing
        i {
            padding: 0px 10% 0px 0px ;
        }
    }
}
  