// Style of The product that are added to cart in cart page
@use '../../../static/doobarashop/sass/abstracts/all' as var;

// the container of the first table 
// where you see product in cart
.cart-table-container {
    @include var.flex-default;
    padding: 5% 0 5% 0;
    width: 75%;

    // Table element class (where in cart product shows up)
    .products-in-cart {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;

        // Table header
        thead {
            th {
                font-size: 16px;
                font-family: var.$third-font;
                font-weight: 600 ;
                text-align: left;
                padding: 30px 10px 30px 0px;
            }
        }

        // Table body where the arbitrary data goes 
        tbody {
            tr {
                td {
                    padding: 20px 10px 20px 0px ;
                }
                
                // input Element to see or change product qtty
                .in-cart-qtty {
                    @include var.single-input-number-v1;
                }
                
                // Remove Icon Is a td class for remove Icon
                // To remove product from cart icon button
                .in-cart-remove-icon   {
                    max-width: 15px;
                    padding-right: 80px;
                    padding-left: 20px;

                    div {
                    max-width: 18px !important;       
                    }
                }

                //  ici is td class for product 
                // in cart product image thumbnail size 
                .in-cart-img {
                    img {
                        width: 60px; 
                    }
                } 
                .in-cart-product-name {
                    padding-right: 90px;
                }
            }
        }

        // footer button action of the tabel to apply coupan and edits cart
        tfoot {
            tr {
                background-color: white;
                .in-cart-footer-container {
                    width: 100%;
                    @include var.flex-default;
                    align-items: center;
                      
                    // COUPON TEXT INPUT DIV
                    .in-cart-coupon-input {
                        flex: 0;
                        padding-top: 20px;
                        input {
                            @include var.button-style-wide;
                            background-color: white !important;
                            cursor: text !important;
                            color: black;
                        }
                    }

                    // APPLY COUPON BUTTON DIV
                    .in-cart-apply-coupon-button {
                        flex: 2;
                        padding-top: 20px;
                        padding-left: 10px;
                        
                        button {
                            @include var.button-style-wide;
                            font-weight: 600;
                        }
                        button:hover {
                            @include var.hover-secondary;
                        }
                    }

                    // UPDATE CART BUTTON DIV
                    .in-cart-update-cart-button {
                        padding-top: 20px;
                        button {
                            @include var.button-style-wide;
                        }
                        button:hover {
                            @include var.hover-secondary;
                        }
                    }  
                }
            }
        }
    }
} 

// PHONE AND TABLET RESPONSIVITY 
@media screen and (max-width: 850px) {

    // the container of the first table 
    // where you see product in cart
    .cart-table-container { 
        width: 90%;

        // Tabel elemenet Class 
        .products-in-cart {     
            table, thead, tbody, th, td, tr {
                display: block;
            }

            // Tabel header 
            thead {
                display: none;
            }

            // Rows in tabel 
            tr {
                background-color: var.$table-body-background-color-v1;
                border: 8px solid white;
            }

            // TD in Table Body classes that contain P element 
            .in-cart-product-name, .in-cart-unit-price, .in-cart-units-subtotal {
               p {
                   text-align: right;
                   margin: 0px !important;
                }
            }

            // TD in talbe Body that contain Input elemet 
            .in-cart-product-qtt {
                display: flex;
                justify-content: right;
                input {
                    text-align: right;
                }
            }

            // All TD in table 
            td {
                position:  relative;
                padding-left: 45% !important;
                padding-top: 0px !important;
            }

            // TD class of product name in table body 
            .in-cart-product-name {
                padding-right: 10px !important;
            }

            // TD class of remove icon in tabel body 
            .in-cart-remove-icon {
                float: right;
                padding-right: 20px !important;
            }

            // Table footer where the action button exist
            tfoot {
                tr {
                    background-color: white !important;
                    td::before{
                        content:none !important;
                    }

                    td {
                        padding-left: 0px !important;
                    }

                    // TD class of footer row which has colspan=6
                    // and contain the div of each element   
                    .in-cart-footer-container { 
                        align-items: flex-start !important;
                        flex-direction: column;

                        div {
                            padding-bottom: 10px;
                        }

                        // Footer of coupan input div
                        .in-cart-coupon-input {
                            width: 100% ;

                            input {
                                width: 100%;
                            }
                        }

                        // both footer button apply coupon and update cart div's
                        .in-cart-apply-coupon-button, .in-cart-update-cart-button {
                            padding-left: 0px;
                            width: 100%;
                            button {
                                float: right;
                            }
                        }

                        // div class of update cart button
                        .in-cart-update-cart-button { padding-top: 20px;}
                    }
                }
            }

            // The absolut header that replaced the tabel header 
            // this one shows befor is td in the body od the table 
            td:before {
                position: absolute;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                @include var.header-title;
            }
            // Name each before td header 
            td:nth-of-type(1):before { content: "";}
            td:nth-of-type(2):before { content: "";}
            td:nth-of-type(3):before { content: "Product:";}
            td:nth-of-type(4):before { content: "Price:";}
            td:nth-of-type(5):before { content: "Quantity:";}
            td:nth-of-type(6):before { content: "Subtotal:";}
        }
    }  
}