{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
My Cart
{% endblock %}
{% block body %}
<!-- POP UP CHANGE ADDRESS OUT OF CONTAINER -->
<div class="change_address_popup" id="id_change_address_popup">
    <div>
        <h3>Delivery Address</h3>
    </div>
    <div class="address_list">
        <ul>
            {% for item in loa %}
            <li>
                <div class="delivery_container">
                    <div class="delivery_address">
                        <p class="deliver_name_phone"><span class="checkout_address_detail_name">{{item.name}} {{item.last_name}}</span> {{item.phone_number}}</p>
                        <p>{{item.city_town}} {{item.street_name}}
                            {{item.building_appartment}}</p>
                            <input type="hidden" value={{item.id}}>
                        <p>{{item.delivery_details}}</p>
                    </div>    
                    <div>
                        <div><button class="change_address" id="id_change_address">Change address</button></div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="checkout-page-container">
    <div class="checkout-shipping-details-container">
        <h1>Shipping details</h1>
        
        <!-- POP WHEN USER WANT TO CHOOSE DIFFERENT CHECKOUT DELIVER ADDRESSS -->
        

        <!-- SELECTED DELIVERY ADDRESS  -->
        <form id="shipping-details-id" class="shipping-details" action="{% url 'placeorder'%}" method="POST">
            {% csrf_token %}

            <!-- IF USER ALREADY HAVE A 1 or More delivery addresses saved  -->
            {% if have_address %}
                {% for item in loa %}

                    <!-- WHEN LOADED SHOW THE SET TO DEFAULT DELIVERY ADDRESS -->
                    {% if item.default %}
                        <h3>Delivery Address</h3>
                        <div class="delivery_container">
                            <div class="delivery_address">
                                <p class="deliver_name_phone"><span class="checkout_address_detail_name">{{item.name}} {{item.last_name}}</span> {{item.phone_number}}</p>
                                <p>{{item.city_town}} {{item.street_name}}
                                    {{item.building_appartment}}</p>
                                    <input type="hidden" value={{item.id}}>
                                <p>{{item.delivery_details}}</p>
                            </div>    
                            <div>
                                <button type="button" class="change_address" id="id_change_address">Change address</button>
                                <button class="checkout_new_address" id="id_checkout_new_address">+ New Address</button>
                            </div>
                            
                        </div>
                    {% endif %}
                {% endfor %}
            <!-- IF THERE IS NO SAVED ADDRESS CREATE A NEW ONE -->
            {% else %}
                {{form}}
            {% endif %}
            <!-- FIRST AND LAST NAME CONTAINER -->
            <!-- <div class="shipping-1st-row"> -->
                <!-- First name  -->
                <!-- <div class="shipping-first-name">
                    <label>First name</label>
                    {{form.first_name}}
                </div>   -->
                <!-- Last name  -->
                <!-- <div class="shipping-last-name">
                    <label>Last name</label>
                    {{form.last_name}}
                </div> 
            </div>  -->
            <!-- City and town  -->
            <!-- <div class="shipping-city-town">
                <label>City/Town</label>
                {{form.city_town}}
            </div>   -->
            <!-- Street name -->
            <!-- <div class="shipping-street">
                <label>Street name</label>
                {{form.street}}
            </div>   -->
            <!-- apartment blding, details -->
            <!-- <div class="shipping-street">
                <label>Building, appartement details</label>
                {{form.building_appartement}}
            </div>  
            <div class="shipping-phone">
                <label>Phone number</label>
                {{form.phone}}
            </div>  
            <div class="shipping-note">
                <label>Order notes (optional)</label>
                {{form.note}}
            </div>
            <div>
                <label>Additional Information</label>
                {{form.additional_information}}
            </div> -->
            
        </form>

    </div>
    <div class="checkout-order-invoice">
        <h1>Your order</h1>
        <div class="checkout-invoice-table">
            <table class="invoice-table">
                {% for item in cart %} 
                    <tr>
                        <!-- product name -->
                        <th>{{item.0.productname}}</th>
                        <!-- product unit price -->
                        <td>$ {{item.0.productunitprice}}</td>
                        <!-- product quantity in cart -->
                        <td>{{item.0.productquantity}}</td>
                        <!-- Product subtotal (unit price * quantity) -->
                        <td>$ {{item.1}}</td>
                    </tr>
                {% endfor %}
            
                <tr>
                    <th> Subtotal </th>
                    <td id="dsubtotal"> $ {{total}}</td> 
                    </tr>
                <tr>
                    <th> Delivery </th>
                    <td id="ddelivery">$ 2.00</td>
                </tr>
                <tr>
                    <th> Total </th>
                    <td id="dtotal">$ {{total}} </td>
                </tr>
            </table>
            <div class="checkout-policy">
                <p>Your personal data will be used to process your order,
                     support your experience throughout this website,
                      and for other purposes described in our privacy policy.</p>
                <div class="policy-checkbox">
                    <input type="checkbox">
                    <p>I have read and agree to the website terms and conditions *</p>
                </div>
                <button type="submit" form="shipping-details-id"> Place order </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}