{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
My Cart
{% endblock %}
{% block body %}

<div class="checkout-page-container">
    <div class="checkout-shipping-details-container">
        <h1>Shipping details</h1>
        <form id="shipping-details-id" class="shipping-details">
            {{form}}
            <!-- FIRST AND LAST NAME CONTAINER -->
            <!-- <div class="shipping-1st-row"> -->
                <!-- First name  -->
                <!-- <div class="shipping-first-name">
                    <label>First name</label>
                    {{form.first_name}}
                </div>   -->
                <!-- Last name  -->
                <!-- <div class="shipping-last-name">
                    <label>Last name</label>
                    {{form.last_name}}
                </div> 
            </div>  -->
            <!-- City and town  -->
            <!-- <div class="shipping-city-town">
                <label>City/Town</label>
                {{form.city_town}}
            </div>   -->
            <!-- Street name -->
            <!-- <div class="shipping-street">
                <label>Street name</label>
                {{form.street}}
            </div>   -->
            <!-- apartment blding, details -->
            <!-- <div class="shipping-street">
                <label>Building, appartement details</label>
                {{form.building_appartement}}
            </div>  
            <div class="shipping-phone">
                <label>Phone number</label>
                {{form.phone}}
            </div>  
            <div class="shipping-note">
                <label>Order notes (optional)</label>
                {{form.note}}
            </div>
            <div>
                <label>Additional Information</label>
                {{form.additional_information}}
            </div> -->
            
        </form>

<!-- CURRENT DESIGN OF THE FORM -->

<!-- <div class="checkout-page-container">
    <div class="checkout-shipping-details-container">
        <h1>Shipping details</h1>
        <form id="shipping-details-id" class="shipping-details"> -->
            <!-- FIRST AND LAST NAME CONTAINER -->
            <!-- <div class="shipping-1st-row"> -->
                <!-- First name  -->
                <!-- <div class="shipping-first-name">
                    <label>First name</label>
                    <input type="text" value="Hamze">
                </div>   -->
                <!-- Last name  -->
                <!-- <div class="shipping-last-name">
                    <label>Last name</label>
                    <input type="text" value="Chalhoub">
                </div> 
            </div>  -->
            <!-- City and town  -->
            <!-- <div class="shipping-city-town">
                <label>City/Town</label>
                <input type="text" value="Jounieh/Adonis">
            </div>   -->
            <!-- Street name -->
            <!-- <div class="shipping-street">
                <label>Street name</label>
                <input type="text" value="Green area">
            </div>   -->
            <!-- apartment blding, details -->
            <!-- <div class="shipping-street">
                <label>Building, appartment details</label>
                <input type="text" value="Elie Azar, 3d floor">
            </div>  
            <div class="shipping-phone">
                <label>Phone number</label>
                <input type="number" value="70148082">
            </div>  
             <div class="shipping-note">
                <label>Order notes (optional)</label>
                <textarea class="shipping-note-text" name="delivery notes" form="shipping-details-id" placeholder="Notes about your order"></textarea>

             </div>
        </form> -->

    </div>
    <div class="checkout-order-invoice">
        <h1>Your order</h1>
        <div class="checkout-invoice-table">
            <table class="invoice-table">
                <tr>
                    <th>Product</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <th> Smart wifi outdoot camera x1 </th>
                    <td>$ 38.00</td>
                </tr>
                <tr>
                    <th> Smart infrared remote x1 </th>
                    <td>$ 19.50</td>
                </tr>
                <tr>
                    <th> Subtotal </th>
                    <td>$ 57.50</td>
                </tr>
                <tr>
                    <th> Shipping </th>
                    <td>Flat rate $ 2.00</td>
                </tr>
                <tr>
                    <th> Total </th>
                    <td>$ 59.50</td>
                </tr>
            </table>
            <div class="checkout-policy">
                <p>Your personal data will be used to process your order,
                     support your experience throughout this website,
                      and for other purposes described in our privacy policy.</p>
                <div class="policy-checkbox">
                    <input type="checkbox">
                    <p>I have read and agree to the website terms and conditions *</p>
                </div>
                <button> Place order </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}