# Secrets / environment
.env
*.env

# SQLite / local DB
*.sqlite3
db.sqlite3
*.db
*.db-*

# Python
__pycache__/
*.py[cod]
.Python

# Virtual environments
venv/
.venv/
env/

# Django
*.log
local_settings.py
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db