// PRODUCT CATEGORY MENU WITH ICONS 

// Product category bar section
#product-category  {
    grid-area: pcat;
    @include var.flex-default;  
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 4px;

    // Each icon and titel container
    .icon-title-container {
        min-width: 20%;
        padding-bottom: 10px;
        @include var.flex-default;  
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;

        // nested div which contain svg icon 
        div:hover {
            @include var.hover-secondary;
            a {
                object {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(331deg) brightness(104%) contrast(103%);               
                } 
            } 
        }
        
        // svg Icon container 
        div {
            width: 60px;
            border: 1px solid black;
            border-radius: 30px;
            background-color: var.$back-color;

            // a element that contain the svg icon to make clickable as link 
            a{
                @include var.flex-default;  
                justify-items: center;
                align-items: center;
                align-content: center;
                
                // the svg icon contained in ovject element 
                object { 
                    width: 100%;
                    filter: invert(94%) sepia(27%) saturate(3740%) hue-rotate(323deg) brightness(103%) contrast(95%);
                    padding: 10px;
                    pointer-events: none;
                } 
            }     
        }

        // each category Icon name 
        p {
            text-align: center;
            margin: 0;
            @include var.icon-title;
        }
    } 
}  

