
.filterproduct {
    position: relative;
    font-family: Arial;
    padding: 10px 10px 10px 20px;

    

    select {
        padding: 5px;
        background-color: var.$identity-color;
    }

    .filtersubmit {
        @include var.button-secondary;
    }


}