#my-account-data {  
    padding-top: 10px;
    align-self: flex-start;
    text-align: left;
    
    table {
        border-collapse: collapse;
    
        th {
            font-size: medium;
            background-color: whitesmoke;  
            padding: 1vw 2vw 1vw 2vw;     
        }

        td {
            font-size: 16px;
            padding: 1vw 2vw 1vw 2vw ;
        
            button {
                padding: 7px;
                background-color: transparent;
            }
        }
    }
}