// Style of The product that are added to cart in cart page
.cart-table-container {
    display: flex;
    justify-content: center ;
    padding: 5%;

    .products-in-cart {
        border-collapse: collapse;
        width: 75%;

        thead {
            background-color: whitesmoke;
            th {
                font-size: 16px;
                font-weight: 700;
                text-align: left;
                padding: 30px 40px 30px 40px;
            }
            // .in-cart-header-product {
            //     padding-right: 10px ;
            // }
        }

        tbody {
            tr {
                text-align: left;
                font-size: 15px;

                td {
                    padding: 20px 45px 20px 45px ;
                }
                
                // icri Is a td class for remove
                // for remove product from cart icon button
                .in-cart-remove-icon   {
                    max-width: 15px;
                    padding-right: 80px;
                    div {
                    max-width: 18px !important;       
                    }
                }

                //  ici is td class for product 
                // in cart image thumbnail 
                .in-cart-img {
                    img {
                        width: 60px; 
                    }
                } 
                .in-cart-product-name {
                    padding-right: 90px;
                }
            }
        }

        tfoot {
            tr {
                .in-cart-footer-container {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    
                    

                    .in-cart-coupon-input {
                        flex: 0;
                        input {
                            padding: 15px;
                            background-color: #f2f2f2;
                            color: #43454b;
                            border: 0;
                            -webkit-appearance: none;
                            box-sizing: border-box;
                            font-weight: 400;
                            box-shadow: inset 0 1px 1px rgb(0 0 0 / 13%);
                            font-size: 15px;
                        }
                    }
                    .in-cart-apply-coupon-button {
                        flex: 2;
                        padding-left: 10px;
                        
                        button {
                            padding: 15px;
                            background-color: #f2f2f2;
                            color: #43454b;
                            border: 0;
                            -webkit-appearance: none;
                            box-sizing: border-box;
                            font-weight: 600;
                            box-shadow: inset 0 1px 1px rgb(0 0 0 / 13%);
                            font-size: 15px;
                        }
                    }
                    .in-cart-update-cart-button {
                        
                        button {
                            padding: 15px;
                            background-color: #f2f2f2;
                            color: #43454b;
                            border: 0;
                            -webkit-appearance: none;
                            box-sizing: border-box;
                            font-weight: 400;
                            box-shadow: inset 0 1px 1px rgb(0 0 0 / 13%);
                            font-size: 15px;
                        }
                    }
                    
                }
            }
        }
    }
} 