@use '../abstracts/all' as var;
// Submition contact form section 
#contact-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    padding: 50px 0 50px 0;
    // width: auto;
    background-color: rgb(205, 225, 233);
    
    // Submition contact form infor text 
    .form-desc {
        width: 35%;
        padding-left: 10px;
        align-self: flex-start;
        h1 {@include var.mid-title; margin: 0;}
        h2 {@include var.sub-title; margin: 0;}
        p {@include var.par-body-2;}
    }
    // Form input div class contaciner 
    .contact-inputs {
        // width: 60%;
        padding-right: 10px;

        //COntact form
        #contact-submit-form {
            // input of contact sumbition form  
            input {
                @include var.par-body;
                padding: 10px;   //size
                width: 100%;
                margin: 5px 0 5px 5px ;   //space between cells 
                border: none;
                background-color: white;
            }
            // Set inline on desk
            .contact-name, .contact-email {
                width: 49%;
                display: inline-block;
                margin: 0;
            }
            // email input to float to aligh with other inputs right side 
            .contact-email{ float: right ;} 
        }

        textarea {
            @include var.par-body;
            width: 100%;
            border: none;
            height: 100px;   
            margin: 5px 0 0 5px;  
        }

        // Submition send button 
        .contact-send-button {
            float: right;
            margin: 0;
            //Submition button element styling 
            button {
                @include var.input-button-style;
                padding: 10px 30px;
                letter-spacing: 2px; 
                
            }
        }
    }
}

@media screen and (max-width: 960px) {
    // CONTACT SUBMITION FORM CONTAINER
    #contact-form-container 
    {
        padding: 15px !important;
        .form-desc, .contact-inputs {
            width: 100% !important;
            text-align: center;
        }
        .contact-name, .contact-email {
            width: 100% !important;
        }
    }

}