// Submition contact form section 
#contact-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    padding: 50px 0 50px 0;
    // width: auto;
    background-color: rgb(205, 225, 233);
    
    //Setting form info and submition form on same line
    // .form-desc, .contact-inputs {
    //     display: inline-block;
    //     vertical-align: top !important; 
    // }
    // Submition contact form infor text 
    .form-desc {
        width: 35%;
        padding-right: 5px;
        // margin: 0px;
        h1 {font-size: xx-large;}
        h2 {font-size: x-large;}
        p {font-size: 14px;}
    }
    // Form input div class contaciner 
    .contact-inputs {
        // width: 60%;
       

        textarea {
            width: 100%;
            border: none;
            height: 100px;   
            margin: 5px 0 0 5px;  
        }
        //COntact form
        #contact-submit-form {
            // input of contact sumbition form  
            input {
                padding: 10px;
                width: 100%;
                margin: 5px 0 5px 5px ;
                border: none;
                background-color: white;
            }
            // Set inline on desk
            .contact-name, .contact-email {
                width: 49%;
                display: inline-block;
                margin: 0;
            }
            // email input to float to aligh with other inputs right side 
            .contact-email{ float: right ;} 
        }

        // Submition send button 
        .contact-send-button {
            float: right;
            margin: 0;
            //Submition button element styling 
            button {
                padding: 10px 30px;
                background-color: var.$back-color;
                color: white;
                font-weight: 600;
                font-size: 15px;
                letter-spacing: 2px; 
            }
        }
    }
}

@media screen and (max-width: 480px) {
    // CONTACT SUBMITION FORM CONTAINER
    #contact-form-container 
    {
        padding: 15px !important;
        .form-desc, .contact-inputs {
            width: 100% !important;
            text-align: center;
        }
        .contact-name, .contact-email {
            width: 100% !important;
        }
    }

}