// FEATURED PRODUCT CARDS BANNER 

    // Featured product elemet
    .product-card-container {
        grid-area: fp;
        // align-self: center;
        padding-left: 1%;
        @include var.flex-default;
        flex-wrap: wrap;
        
        .product-card:hover {
            color: var.$identity-color;
            .card-info {
                background-color: var.$back-color;
            }      
        }

        // each Product in parent product element 
        .product-card {
            flex: 15% !important;
            -webkit-flex: 15%;
            width: 15%;
            @include var.flex-default;
            justify-content: space-around;
            align-content: space-between;
            flex-direction: column;
            background-color: var.$identity-color;
            color: var.$back-color;
            box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.5 );
            
            // p element child of product-card
            p { 
                padding: 0 1% 0 1%;
                text-align: center;
                font-size:1vw;
                font-weight: 600;  
                line-height: 130%; 
            } 
         
            // Product-card information 
            .card-info {
                background-color: var.$identity-color;
                margin: 0;  
                height: 25%;              
            }
        }
    }

@media screen and (max-width: 1206px) {
    .product-card-container {
        padding-left: 0;
    }   
}

@media screen and (max-width: 760px) {
    .product-card-container {
        display: none;
    }
}