// VARIABLE POINTERS TO BE USED LIKE COLORS AND OTHERS/0
@use '../abstracts/all' as var;

//PRIMARY NAVIGATION MENU
 // Default navigation menu style
#navigation-menu {
    grid-area: menu;
    @include var.flex-default;
    @include var.backround-bordertop-color;
    color: var.$identity-color;
    align-items: center;
    @include var.nav-title;

    // navigation links 
    a {
        @include var.flex-default;
        flex-wrap: wrap; 
        @include var.flex-v-h-align;
        padding-left: 3%;
        color: white;
    
        i, a *+*{
            padding-right: 5px;
        }
    }

    // Navigatopn Menu Links icons On hover
    a:hover{
        color: var.$identity-color;
    }
    // desktop navigation menu link icons element  
    a:link {
        text-decoration: none;
        // padding-right: 20px;
    }
}


// HIDE ON MOBILE SCREEN
@media screen and (max-width: 530px) {
    // hide all desktop element that shouldn't appear on mobile 
    #navigation-menu {
        display: none !important;
    }
}
