//PRIMARY NAVIGATION MENU
 // Default navigation menu style
 .navigation-menu {
    grid-area: menu;
    @include var.flex-default;
    background-color: var.$back-color;
    border-top: 5px solid var.$identity-color;
    color: var.$identity-color;
    align-items: center;
    font-size: 1.2em;
    font-weight: 400;
}
// desktop navigation a element 
.navigation-menu a {
    @include var.flex-default;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    color: white;

    i, a *+*{
        padding-right: 5px;
    }
}

// Navigatopn Menu Links icons On hover
.navigation-menu a:hover{
    color: var.$identity-color;
}

// desktop navigation menu link icons element  
.navigation-menu a:link {
    text-decoration: none;
    // padding-right: 20px;
}

// HIDE ON MOBILE SCREEN
@media screen and (max-width: 530px) {
    // hide all desktop element that shouldn't appear on mobile 
    .navigation-menu {
        display: none !important;
    }
}
