// PRODUCT CATEGORY MENU WITH ICONS 

// Product category bar section
#product-category  {
    grid-area: pcat;
    @include var.flex-default;  
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;

    .icon-title-container {
        
        div:hover {
            background-color: var.$identity-color;
            a {
                object {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(331deg) brightness(104%) contrast(103%);               
                }
                
            }
          
        }
        
        div {
            width: 66px;
            border: 1px solid black;
            border-radius: 30px;
            background-color: var.$back-color;

            a{
                display: flex;
                justify-items: center;
                align-items: center;
                align-content: center;
                
                
                object { 
                    width: 100%;
                    filter: invert(94%) sepia(27%) saturate(3740%) hue-rotate(323deg) brightness(103%) contrast(95%);
                    padding: 10px;
                    pointer-events: none;
                } 

            }     
        }

        p {
            text-align: center;
            margin: 0;

        }
    } 
}  

@media screen and (max-width: 480px) {
    // product catergory Icons
    .cat-icon {
        width: 67px !important;
    }  
}