// PRODUCT CATEGORY MENU WITH ICONS 

// Product category bar section
#product-category  {
    grid-area: pcat;
    // padding-right: 5px;
    @include var.flex-default;
    // flex-flow:  row wrap;
    flex-wrap: wrap;
    // -webkit-flex-flow: row wrap;
    // align-items: space-around;
    align-content: space-around;
    justify-content: space-around;
    // border-right: 2px solid var.$back-color;    
    .cat-icon {
        width: 70px;
    }  
}  

@media screen and (max-width: 480px) {
    // product catergory Icons
    .cat-icon {
        width: 67px !important;
    }  
}