// PRODUCT CATEGORY MENU WITH ICONS 

// Product category bar section
#product-category  {
    grid-area: pcat;
    // padding-right: 5px;
    flex: 1;
    -webkit-flex: 1;
    border-right: 2px solid var.$back-color;    
    .cat-icon {
        width: 100%;
        padding-left: 5px;
    }  

    table {
        border-collapse: collapse;   
    }
}  

@media screen and (max-width: 480px) {
    // product catergory Icons
    // #product-category {
    //     width: 100% !important; 
    // }
}