// VARIABLE POINTERS TO BE USED LIKE COLORS AND OTHERS/0
@use '../abstracts/all' as var;

// HIDE MOBILE MENU AND BUTTON 
#navigation-mobile, #mobile-menu-btn {
    display: none;
}

@media screen and (max-width: 530px) {
    // menu humberger button parent div
    #mobile-menu-btn {
        grid-area: mmb;
        @include var.flex-default;
        align-items: center ;// !!!! 1
        justify-content: space-around;// !!!!
        background-color: var.$back-color;// !!!! 1
        border-top: 5px solid var.$identity-color;
        

        // humberger Icon inside button 
        .humberger {
            @include var.flex-default;
            align-items: center;// !!!!
            justify-content: space-around;// !!!!
            background-color: var.$identity-color;// !!!!
            border: none;
            width: 85px;
            height: 40px;
            font-size: medium;
        }


        // FIX FOR button not trigger when pressing on text or icon nested
        span {
            pointer-events: none;
        }
    }

    // navigation menu icons for Mobile 
    #navigation-mobile {
        grid-area: nmm;
        background-color: var.$back-color;  
        padding-right: 30px 0 0 0;
        font-size: 16px;
        
        ul {
            list-style: none;
            padding-left: 20px;
        }

        li {
            padding-bottom: 7px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}