// HIDE MOBILE MENU AND BUTTON 
#navigation-mobile, .mobile-menu-btn {
    display: none;
}

@media screen and (max-width: 530px) {
    // menu humberger button parent div
    .mobile-menu-btn {
        grid-area: mmb;
        @include var.flex-default;
        justify-content: center;
        align-items: center ;
        background-color: var.$back-color;
        border-top: 5px solid var.$identity-color;

        // huberger Icon inside button 
        .humberger {
            @include var.flex-default;
            justify-content: space-around !important;
            align-items: center;
            background-color: var.$identity-color;
            border: none;
            width: 85px;
            height: 40px;
            font-size: medium;
        }

        // FIX FOR button not trigger when pressing on text or icon nested
        span {
            pointer-events: none;
        }
    }

    // navigation menu icons for Mobile 
    #navigation-mobile {
        grid-area: nmm;
        background-color: var.$back-color;  
        width: 100%;
        padding-right: 30px 0 0 0;
        font-size: 16px;
        
        ul {
            list-style: none;
            padding-left: 20px;
        }

        li {
            padding-bottom: 7px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}