a:link {
    // should be created in mixin
    text-decoration: none;
}

// Each product element in grid 
.shop-product {
    padding: 10px 10px 15px 10px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.5 );
    
  
    //Product Image 
    img {
        width: 100%;
        margin: 0;
    }

    // Product name  
    .product-name {
        height: 45px;
    }

    // Add to Cart button 
    button {
        color: #fff;
        background-color: #292826;
        font-family: "Archivo Narrow",Sans-serif;
        font-size: 14px;
        border-style: groove;
        border-width: 0;
        border-radius: 6px;
        padding: 7px 20px 7px 20px;
        cursor: pointer;
    }
    
    // Product info text under p element
    p {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: var.$back-color;
        margin: 0;  
    }

    .product-price {
        padding-top: 15px;
        color: red;
    }
}