.my-account-navigation {
    grid-area: d;
    // width: auto;
    padding-right: 5%;

    ul {
        li {
            list-style: none;
            font-size: large;
            border-style: solid;
            border-width: 0.5px 0px;
            border-color: gray;
            padding: 8% 0 7% 0;
           
            a {
                display: flex;
                justify-content: space-between;
                
                flex-wrap: wrap;
                color: var.$back-color;

                div {
                    padding-right: 5vw;
                }
            }

            a:link {
                text-decoration: none;
                color: black;
            }

            a:hover {
                color: var.$identity-color;
            }
        }
    }
}


// @media screen and (max-width: 850px) {
//     // MY ACCOUNT NAVIGATION MENU FULL WIDTH
    
// }