
.video-card {
    background-color: var.$back-color;
    color: white;

    // Video wrapper element for screen responsivness
    .youtube-video {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }
    // Video Iframe resize response
    iframe {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    // Video title 
    H2 {
        padding: 0 0 0 18px;
    }
}


