// SHOP PAGE
@use '../../../static/doobarashop/sass/abstracts/all' as var; 

@use '../components/filterbar';

@use '../components/shop-product-item-block';


// product countainer grid 
#container-shop {
    clear: both;
    padding: 25px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    background-color: var.$identity-color;

    a:link {
    // should be created in mixin
    text-decoration: none;
    }       
}