@use '../../../static/doobarashop/sass/abstracts/all' as var;
@use '../components/account-nav';
@use '../components/account-orders-data';
@use '../components/account-wishlist';
@use '../components/account-edit';
// MY ACCOUNT PAGE STYLING 
#my-account-container {
    padding: 4%;
    // First line of logged in user in my account page
    p {
        padding: 0 0 4% 4% ;
    }

    #my-account-data {
        width: 75%;
        padding: 15px 0 0 60px;
        display: inline-block;
        vertical-align: top;
    }   
}


@media screen and (max-width: 850px) {
    // My account page mobile styling
    #my-account-container {
        padding: 10px;
        margin: 0;
    }
}