@use '../abstracts/variables' as var;
// for the footter push to the bottom always 
.footter-wrapper {
    height: auto !important;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
    
}

// set the footer div at the end of the page 
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

// page footer 
.footer {
    grid-area: ft;
    background-color: var.$back-color;
    padding: 10px;

    .footer-container {
        display: flex;
        .footer-row2 {
            display: flex;
            width: 100%;
            .footer-r2-col{
                width: 33%;
                .logo {
                    padding: 5px;
                }

                .copy-right-text {
                    color: white;
                }

                .footer-index {
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

        }

    }

    
}


