// VARIABLE POINTERS TO BE USED LIKE COLORS AND OTHERS/0
@use '../abstracts/all' as var;

// SEARCH ITEMS COMPONENET 
@use '../components/layout/search-widget';

// PRIMARY NAVIGATION MENU
@use '../components/layout/main-menu';

// CART COMPONENET AFTER MENU
@use '../components/layout/cart-widget';

// SECONDARY MENU FOR MOBILE
@use '../components/layout/secondary-menu';

// // MOBILE FOOTER MENU
@use '../components/layout/footer_mobile_menu';


// LOGO AFTER HEADER AND FIRST IN NAVIGATION (moved here for the @use later)
#logo-nav {
    grid-area: logo;
    top: 0;
    @include var.backround-bordertop-color;
    padding-left: 20px;
    
    img {
        max-width: 100%;
    }
}

// Making Navigation Sticky 
.sticky-nav {
    position: sticky ;
    top: 0 ;
    opacity: 80%;
    width: 100%;
    z-index: 2;

    &b {
        @extend .sticky-nav;
        top: 60px !important;
    }
} 


@media screen and (max-width: 530px) {
    // hide all desktop element that shouldn't appear on mobile 
    #myLinks, .dot, .imgd, #featured-products {
        display: none !important;
    }

    #logo-nav {
        padding-left: 0px;
    }
}