// VARIABLE POINTERS TO BE USED LIKE COLORS AND OTHERS/0
@use '../../abstracts/all' as var;

//HIDE FOOTER MENU ON MEDIA LARGER THAN 480px
#mobile-footer-menu {
    display: none;
}

// MOBILE SCREEN SIZE STYLE
@media screen and (max-width: 480px) {
// Mobile footer menu
    #mobile-footer-menu {   
        grid-area: fm;
        display: block;
        align-self: stretch;
        background-color: var.$back-color;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px 0 5px 0;

        // Centering the footer navigation
        .footer-navigation { 
            @include var.flex-default;   
            justify-content: space-around; // !!!

            .search_icon_footer_menu {
                cursor: pointer;
            }
        }

        #popsearch {
            display: none;
            position: fixed;
            bottom: 8%;
            width: 99%;
            margin: 0px auto 0px 50px ;
        }
    }
}