{% extends "../doobarashop/layout.html" %}


{% load static %}
{% block body %}
  <div class="auth-container">
    {% if messages %}
      <div>
        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <!-- <div>
        {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <h2 onclick="location.href='{% url 'account_signup' %}'" style="cursor: pointer;">Sign Up</h2>
        {% endif %}
    </div> -->

    {% block content %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </div>
{% endblock %}
      

  

