@use '../../../static/doobarashop/sass/abstracts/all' as var;

//Chekout page container 
.change_address_popup {
        display: none;
        width: 60%;
        padding: 20px;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        position: absolute;
        border-radius: 20px;
        border: 1px solid black;
        background-color: white;
        left: 50%;
        transform: translate(-50%, 10%);

        ul {
            list-style-type: none;
            padding: 0px;
        }

        li {
            padding: 6px;
            border: 1px solid black;
            border-radius: 15px;
            margin: 0 0 8px 0;
        }

        .address_list {
            width: 100%;
        }
    
    }

.delivery_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        @include var.button-secondary;
        // margin-bottom: 10px;

    }

    .checkout_address_detail_name {
        font-weight: 750;
        padding-right: 15px;
    }

    .change_address {
        cursor: pointer;
        background-color: var.$back-color;
        padding: 4px;
        text-align: center;
        border-radius: 5px;
        color: white;
    }

}



.checkout-page-container {
    @include var.flex-default;
    width: 100%;
    justify-content: space-around;

    margin: 5px auto;


    .checkout-shipping-details-container {
        width: 55%;
        max-width: 600px;


      

    

    

        form {
            padding: 0px 20px 20px 20px ;
            div {
                padding-bottom: 10px;
            }

            label {
                @include var.par-body-2;
            }
            // Temperarly removed to use the form structure !!!!!!
            // .shipping-1st-row {
            //     @include var.flex-default;
            //     width: 100%;
            //     .shipping-first-name {
            //         padding-right: 20px;
            //     }
            //     .shipping-first-name, .shipping-last-name {
            //         display: block;
            //         width: 50%;
            //     }             
            // }
            input, textarea {
                @extend .input-style-prim;
            }
        }
    }

    .checkout-order-invoice {
        width: 50%;
        padding-left: 30px;
        max-width: 600px;

        //STYLE COPIED FROM CART TOTAL CHECKOUT
        table {
            width: 100%;
            border-collapse: collapse;
            th {
                width: 30%;
                padding: 15px 0px 15px 0px;
                vertical-align: top;
            }

            td {
                padding: 17px 20px 0px 20px;
                vertical-align: top;
            }
        }
        .checkout-policy {
            background-color: var.$input-background-color-v1;
            padding: 10px;

            .policy-checkbox {
                display: flex;
                align-items: center;
                p {padding-left: 5px;}
            }

            button {
                width: 100%;
                @include var.button-style-wide;
            }
        }
    }
}


// Mobile and Tablet responsivity 
@media screen and (max-width: 750px) {
    // CHECKOUT CONTAINER 
    h1 {padding-left: 10px;}
    .checkout-page-container {
        display: block;
        width: 100%;

        .delivery_container {
            flex-direction: column;
        }
        .checkout-shipping-details-container, .checkout-order-invoice {
            width: 100% !important;
            h1, h2 {text-align: center;}
        }
 
        .checkout-order-invoice {padding-left: 0px;}
        // .shipping-1st-row {
        //     display: block !important;
        //     .shipping-first-name, .shipping-last-name {
        //         display: block;
        //         width: 100% !important;
        //         padding: 0px !important;
        //     }             
        // }
    }
  
}