@use '../../../static/doobarashop/sass/abstracts/all' as var;

//Chekout page container 


.checkout-page-container {
    @include var.flex-default;
    width: 100%;
    max-width: 1100px;
    margin: 5px auto;

    .checkout-shipping-details-container {
        width: 55%;

        form {
            padding: 0px 20px 20px 20px ;
            div {
                padding-bottom: 10px;
            }

            label {
                @include var.par-body-2;
            }
            // Temperarly removed to use the form structure !!!!!!
            // .shipping-1st-row {
            //     @include var.flex-default;
            //     width: 100%;
            //     .shipping-first-name {
            //         padding-right: 20px;
            //     }
            //     .shipping-first-name, .shipping-last-name {
            //         display: block;
            //         width: 50%;
            //     }             
            // }
            input, textarea {
                @extend .input-style-prim;
            }
        }
    }

    .checkout-order-invoice {
        width: 50%;
        padding-left: 30px;

        //STYLE COPIED FROM CART TOTAL CHECKOUT
        table {
            width: 100%;
            border-collapse: collapse;
            th {
                width: 30%;
                padding: 15px 0px 15px 0px;
                vertical-align: top;
            }

            td {
                padding: 17px 20px 0px 20px;
                vertical-align: top;
            }
        }
        .checkout-policy {
            background-color: var.$input-background-color-v1;
            padding: 10px;

            .policy-checkbox {
                display: flex;
                align-items: center;
                p {padding-left: 5px;}
            }

            button {
                width: 100%;
                @include var.button-style-wide;
            }
        }
    }
}


// Mobile and Tablet responsivity 
@media screen and (max-width: 750px) {
    // CHECKOUT CONTAINER 
    h1 {padding-left: 10px;}
    .checkout-page-container {
        display: block;
        width: 100%;
        .checkout-shipping-details-container, .checkout-order-invoice {
            width: 100% !important;
        }
 
        .checkout-order-invoice {padding-left: 0px;}
        // .shipping-1st-row {
        //     display: block !important;
        //     .shipping-first-name, .shipping-last-name {
        //         display: block;
        //         width: 100% !important;
        //         padding: 0px !important;
        //     }             
        // }
    }
  
}