// CONTACT US PAGE 
@use '../abstracts/all' as var;
@use '../components/contact/contact-info';
@use '../components/contact/contact-form-with-meta';


// Last section in submition page the email address 
.inquiry-email-contact{
    margin-top: 0px;
    text-align: center;
    background-color: var.$back-color;
    color: white;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: var.$identity-color ;

    // Email address text removing margin 
    h4 {
        color: var.$identity-color;
        margin: 0;
    }
    
    // Email address text color 
    .inquiry-email-address {
        color: var.$identity-color;
    }
}


