// VIDEO PAGE CAROUSEL 
@use '../abstracts/all' as var;
#video-carousel-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 10px;
    padding: 5px;
    
    //Each video in carousel 
    @import '../components/video/youtube-video-card';
    
}

@media screen and (max-width: 780px) {
    // VIDEO PAGE stretch
    #video-carousel-container {
        grid-template-columns: auto;
    }
}