// VARIABLE POINTERS TO BE USED LIKE COLORS AND OTHERS/0
@use '../abstracts/variables' as var;

// navigation section style default
#navbar {
    z-index: 2;
    background-color: var.$back-color;
    border-top: 5px solid var.$identity-color;
    width: 100%;
    overflow: hidden;
}

// Making Navigation Sticky 
.sticky-nav {
    position: fixed ;
    top: 0 ;
    opacity: 80%;
    width: 100%;
} 

// setting logo and search on same line
.logo-nav, .search-box-nav {
    display: inline-flex;
}

// SEARCH ITEMS COMPONENET 
@import '../components/search-widget';

// PRIMARY NAVIGATION MENU
@import '../components/main-menu';

// SECONDARY MENU FOR MOBILE
@import '../components/secondary-menu';

// MOBILE FOOTER MENU
@import '../components/footer_mobile_menu';

@import '../components/cart-widget';


@media screen and (min-width: 481px) {
    // THe body page-content position on mouse scroll dow and sticky meny activate.
    //  this will keep the page-content after event to stay at same position regardly to stick meny

    .sticky-nav + .page-content {
        padding-top: 130px;
    }

    // logo image style
    .logo-nav {
        padding-left: 20px;
    }
           
    // set desktop navigation menu and cart on same row   
    .navigation-menu, .cart-nav {
        display: inline-flex;   
    } 
}


@media screen and (max-width: 480px) {
    // hide all desktop element that shouldn't appear on mobile 
    #myLinks, .dot, .imgd, #featured-products {
        display: none !important;
    }
    // THe body page-content position on mouse scroll dow and sticky meny activate.
    //  this will keep the co  0ntent after event to stay at same position regardly to stick meny
    // !!! navigation Y axes padding on scroll 
    .sticky-nav + .page-content {
        padding-top: 70px !important;
    }
    // site logo at navigation 
    .logo-nav {
        padding-left: 0px;
    }
}