// CART SINGLE PAGE 
@use '../abstracts/all.scss' as var;
@use '../components/cart/cart-in-cart-table';
@use '../components/cart/cart-total-checkout';


// Cart page container
.cart-page-container {
    @include var.flex-default;
    flex-direction: column;
    align-items: center;
    width: 100%;
}