{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
Product Name
{% endblock %}
{% block body %}
<div class="blog-post-container">
    <div class="blog-title-container">
        <h1>Home Automation Definition And Introduction</h1>
    </div>

    <div class="blog-featured-image">
        <img src="{% static 'doobarashop/upload/images/blog.jpg' %}">
    </div>

    <div class="post-body-content">
        Here will be a customized html css style for each single post, until I layout a general template 
        base on behavior
    </div>

</div>
{% endblock %}