// Importing projec variable 
@use '../../abstracts/all' as var;

// The top bar that contain phone and payment info
.header-top-bar-left {
    grid-area: info;    // naming the frid area 
    background-color: var.$back-color;

    ul {
        @include var.flex-default;
        flex-wrap: wrap;
        color: white;
        list-style: none; 

        li {
            align-self: center !important;
        }
    }

    // phone and number disable url style and add padding
    a:link {
        // should be created in mixin
        color:white;
        text-decoration: none;
        padding-right: 20px;
        letter-spacing: 1px;
    }

    // phone number element animation effect 
    .phone-number {
        transition: background-color 1s, font-size 1s, weight 1s;    // base style b4 transition 
    }

    // phone number on hover start transition effect 
    .phone-number:hover {
        a {
        @include var.hover-primary;
        }
    }

    // phone icon when phone class on hover to change icont color 
    .phone-number:hover .fa-phone-alt{
        @include var.hover-third;
    }


    // MOBILE STYLING
    @media screen and (max-width: 530px) {
        ul {
            margin: 0;
            padding: 5px 0 5px 0;
            justify-content: space-evenly;   
        }
    }
}