// VARIABLE POINTERS TO BE USED LIKE COLORS AND OTHERS/0
@use '../../abstracts/all' as var;

// SEARCH WIDGET COMPONENT 
// search box section style default 
#search-box-nav {
    grid-area: sn;
    @include var.backround-bordertop-color;
    
    .search-site {
        float: right;
        padding-right: 6%;
    }
}

// search box form input style
form.search-site input[type=text] {
    border-bottom-left-radius: 4px ;
    padding: 12px 20px;
    border: 1px solid var.$identity-color;
    float: left;
    width: 220px;
    background: #f1f1f1;
}

// search form button style 
form.search-site button {
    float: left;
    width: 40px;
    padding: 10.5px 10px 10.5px 10px; 
    background: var.$identity-color;
    color: white;
    font-size: 17px;
    border: 1px solid var.$identity-color;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-bottom-right-radius: 4px ;
}

// ALIGN ON smaller screen  
@media screen and (max-width: 630px) {
    .search-site {
        padding-right: 3px !important;
    }
}

//HIDE ON MOBILE 
@media screen and (max-width: 530px) {
    // hide all desktop element that shouldn't appear on mobile 
    #search-box-nav {
        display: none !important;
    }
}