// Each post in the carousel 
a:link {
    text-decoration: none;
}
.post-card {
   
    background-color: var.$back-color;
    display: flex;
    flex-direction: column;
}

// Post card paragraph styling
p {
    @include var.par-body-2;
    color: white;
    height: 100px;
    padding-left: 15px;
    padding-right: 10px;
}

h3 {
    color: var.$identity-color;
    padding-left: 16px;
}

//Post card image styling 
img {
    width: 100%;
    
}

