@use '../abstracts/all' as var;
// Layout all page style Default
html {
    height: 100%;
    width: 100%; 
    line-height: 1.618; 
    font-family: var.$primary-font;
    color: var.$back-color;
 
}

html, body {
    margin: 0;
    padding: 0;
}

// CONSTANT TO ALL NAVIGATION ICONS STYLE
.icons {
    color: var.$identity-color;
}

// Slider images hide on all pages by default 
.slider-img-desktop, .slider-img-mobile {
    display: none;
}

// All pages element border boxing 
* {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}

/* Any Page content to be used for sevarel elements */
.page-content {
    padding: 0px;
}

// to be used on JS on any div display
.show {
    display: block !important;
}

th {
    @include var.header-title;
    background-color:var.$table-header-background-color-v1;
}

td {
    background-color: var.$table-body-background-color-v1;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

h2 {
    font-size: xx-large;
    font-weight: 600;
}

h3 {
    font-size: x-large;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    font-family: var.$third-font;
    font-weight: 600 ;
}

h5{
    font-size: 16px;
    font-weight: 400;
}


