@use '../abstracts/all' as var;
// Layout all page style Default
// All pages element border boxing 
* {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
    line-height: 1.618; 
    font-family: var.$primary-font;
    color: var.$back-color;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif, Roboto, Arial;
    background: #ece8df;
}


h1 {
    font-size: 60px;
    font-weight: 600;
}

h2 {
    font-size: xx-large;
    font-weight: 600;
}

h3 {
    font-size: x-large;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    font-family: var.$third-font;
    font-weight: 600 ;
}

h5{
    font-size: 16px;
    font-weight: 400;
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var.$max-width;
  margin: 0 auto;
  padding: 0 1.5rem;
}

// to be used on JS on any div display
.show {
    display: block !important;
}



// TO RECONSIDER

// CONSTANT TO ALL NAVIGATION ICONS STYLE
.icons {
    color: var.$identity-color;
}







