// HOME PAGE HERO SECTION (EVERYTHING IN BODY LAYOUT AFTER NAV)
.ad-container {
    grid-area: ac;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    
    // Single advertised product element 
    .single-add-home {
        flex: 50%;
        border: 2px solid var.$back-color; 
        
        // Image to adds element 
        img {
            width: 100%;
            vertical-align: top; 
        }
    }
}

@media screen and (max-width: 720px) {

            // SIngle add for procuct 
            .single-add-home {
                flex: 100% !important;
            }
}
