@use '../abstracts/all' as var;
// Layout all page style Default
html {
    height: 100%;
    width: 100%; 
    font-weight: 400;
    line-height: 1.618; 
    font-family: var.$primary-font;
    font-size:13px; 
    color: var.$back-color;
}

html, body {
    margin: 0;
    padding: 0;
}

// CONSTANT TO ALL NAVIGATION ICONS STYLE
.icons {
    color: var.$identity-color;
}

// Slider images hide on all pages by default 
.slider-img-desktop, .slider-img-mobile {
    display: none;
}

// All pages element border boxing 
* {
    box-sizing: border-box
}

/* Any Page content to be used for sevarel elements */
.page-content {
    padding: 0px;
}

// to be used on JS on any div display
.show {
    display: block !important;
}

th {
    @include var.header-title;
    background-color:var.$table-header-background-color-v1;
}

td {
    @include var.par-body;
    background-color: var.$table-body-background-color-v1;
}

