// VIDEO PAGE CAROUSEL 
@use '../../../static/doobarashop/sass/abstracts/all' as var;

// TODO: Redesign this page to be more responsive and user-friendly, maybe add a video player instead of just embedding youtube videos. And rememeber to add a video thumbnail and title for each video in the carousel.and keep the design consistent with the rest of the site, using the same color palette and typography. Also consider adding some interactive elements like a play button overlay on the video thumbnails, and maybe a carousel navigation if there are multiple videos.and use the unidief css system mixin and vatiables
#video-carousel-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 10px;
    padding: 5px;
    
    //Each video in carousel 
    .video-card {
        background-color: var.$back-color;
        color: white;

        // Video wrapper element for screen responsivness
        .youtube-video {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }
        // Video Iframe resize response
        iframe {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
        // Video title 
        h4 {
            color: gainsboro;
            padding: 0 0 0 18px;
        }
    }    
}

@media screen and (max-width: 780px) {
    // VIDEO PAGE stretch
    #video-carousel-container {
        grid-template-columns: auto;
    }
}