{% extends "doobarashop/layout.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block pagetitle %}
    My Account
{% endblock %}
{% block body %}
    <!-- All element wrapper  -->
    <div id="my-account-container">
        <!-- logged  in user name snippet-->
    {% include 'account/snippets/already_logged_in.html' %}

        <!-- User account board menu navigator -->
        <div class="my-account-navigation">
            <ul>
                <li id="account-dash">Dashboard <i class="fas fa-tachometer-alt"></i></li>
                <li id="account-orders">Orders <i class="fas fa-shopping-cart"></i></li>
                <!-- <li id="account-whishlist">Wishlist <i class="fas fa-list-alt"></i></li> -->
                <li id="account-edit">Account details <i class="fas fa-address-card"></i></li>
                <li onclick="location.href='/accounts/logout'">Logout <i class="fas fa-sign-out-alt"></i></li>
            </ul>
        </div>

        <!-- Data that shows when switching between Nav menu URL -->
        <div id="my-account-data">

            <!-- DASHBOARD MAIN VIEW ACTIVE ORDERS -->
            <div id="my-account-dashboard" class="show">
                <table>
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            {% if order.status == "processing" %}
                                <tr>
                                    <td>#{{order.orderid}}</td>
                                    <td>{{order.date}}</td>
                                    <td>{{order.status}}</td>
                                    <td>${{order.total}}</td>
                                    <form method="POST" action="{% url 'order_log' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value={{order.orderid}} name="orderid">
                                        <td><button formaction="order_log" type="submit" class="view-order-button"><i class="fas fa-eye"></i> View </button></td>
                                    </form> 
                                </tr>                            
                            {% endif %}
                        {%endfor%}
                        
                    </tbody>
                </table>
            </div>

            <!-- DASHBOARD MAIN VIEW ACTIVE ORDERS -->
            <div id="my-account-orders">
                <table>
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            {% if order.status != "processing" %}
                                <tr>
                                    <td>#{{order.orderid}}</td>
                                    <td>{{order.date}}</td>
                                    <td>{{order.status}}</td>
                                    <td>${{order.total}}</td>
                                    <form method="POST" action="{% url 'order_log' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value={{order.orderid}} name="orderid">
                                        <td><button formaction="order_log" type="submit" class="view-order-button"><i class="fas fa-eye"></i> View </button></td>
                                    </form> 
                                </tr>                            
                            {% endif %}
                        {%endfor%}
                    </tbody>
                </table>
            </div>


            <!-- ACCOUNT DETAILS VIEW  -->
            <div id="account-detail">
                <div class="user-profile-data">
                    <div class="user-username-display">
                        <h3>Welcome {{ user }}</h3>
                    </div>
                    <div class="user-email-profile">
                        <h4>Email: <span>{{user.email}}</h4></span> <pre>  </pre><a href="/accounts/email">Change email</a>
                    </div> 
                    <div><a href="/accounts/password/change">Change Your Password</a></div> 
                    {% if address %}
                        <div class="default-user-shipping">
                            <h4>Default Shipping Address</h4>
                            <p>{{address.name}} {{address.last_name}} ({{address.phone_number}})    
                                <p>{{address.city_town}} {{address.street_name}}
                                {{address.building_appartment}}
                                {{address.delivery_details}}</p>
                            </p>
                            <button onclick="window.location.href='address_list'">Change Address</button>
                        </div>
                    {% else %}
                        <div class="default-user-shipping">
                            <h4>Default Shipping Address</h4>
                            <p>No Address saved</p>
                            <button onclick="window.location.href='address_list'">New Address</button>
                        </div>
                    {% endif %}
                </div>   
            </div>
        </div>
    </div>
{% endblock%}