{% extends "doobarashop/layout.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block pagetitle %}
    User Addresses
{% endblock %}
{% block body %}
<h3 class="delviery-address-title">Delivery Address</h3>
<div class="address-list-user">
    <div class="address_list">
        <ul>
            {% for item in loa %}
            <li>
                <div class="delivery_container">
                    <div class="delivery_address">
                        <p class="deliver_name_phone"><span class="checkout_address_detail_name">{{item.name}} {{item.last_name}}</span> {{item.phone_number}}</p>
                        <p>{{item.city_town}} {{item.street_name}}
                            {{item.building_appartment}}</p>
                        <p>{{item.delivery_details}}</p>
                    </div>    
                    <div>
                        {% if item.default %}
                            <form action="{% url 'new_edit_address' %}" method="POST">      
                                {% csrf_token %}  
                                <input name="submit-type" type="hidden" value="edit">
                                <input name="edit-address" type="hidden" value={{item.id}}>               
                                <div><button type="submit" formaction="/new_edit_address" class="edit-address-button">Edit</button></div>
                            </form>                        
                        {% else %} 
                            <form action="{% url 'new_edit_address' %}" method="POST">      
                                {% csrf_token %}   
                                <input name="submit-type" type="hidden" value="edit">
                                <input name="edit-address" type="hidden" value={{item.id}}>                
                                <div><button type="submit" formaction="/new_edit_address" class="edit-address-button">Edit</button></div>
                            </form>
                            <div><button value={{item.id}} class="make-default-address">Set Default</button></div>
                        {% endif %}
                    </div>
                </div>
                {% if item.default %}
                <p class="default-address">default</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <form action="{% url 'new_edit_address' %}" method="GET">      
            {% csrf_token %}   
            <input name="submit-type" type="hidden" value="new-address">
            <div><button type="submit" formaction="/new_edit_address" class="add-new-address">New address</button></div>
        </form>
    </div>
</div>
{% endblock%}