{% extends "doobarashop/layout.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block pagetitle %}
    User Addresses
{% endblock %}
{% block body %}
<h3 class="delviery-address-title">Delivery Address</h3>
<div class="address-list-user">
    <div class="address_list">
        <ul>
            {% for item in loa %}
            <li>
                <div class="delivery_container">
                    <div class="delivery_address">
                        <p class="deliver_name_phone"><span class="checkout_address_detail_name">{{item.name}} {{item.last_name}}</span> {{item.phone_number}}</p>
                        <p>{{item.city_town}} {{item.street_name}}
                            {{item.building_appartment}}</p>
                        <p>{{item.delivery_details}}</p>
                    </div>    
                    <div>
                        {% if item.default %}
                            <div><button type="submit" formaction="/?" class="edit-address-button">Edit</button></div>
                        {% else %}                         
                            <div><button type="submit" formaction="/?" class="edit-address-button">Edit</button></div>
                            <div><button value={{item.id}} class="make-default-address">Set Default</button></div>
                        {% endif %}
                    </div>
                </div>
                {% if item.default %}
                <p class="default-address">default</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div><button type="submit" formaction="/?" class="add-new-address" id="id_add_new_address">New address</button></div>

    </div>
</div>
{% endblock%}