{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
    Address Edit
{% endblock %}

{% block body %}

<div class="new-edit-address-form-container">
        <div class="new-address-form-container">
            <div class="new-address-container-title">
                <h3>
                    {% if new %}
                        New 
                    {% else %}
                        Edit
                    {% endif %} 
                    Address
                </h3>
            </div> 
            <form action="{% url 'update_address' %}" method="POST">   
                {% csrf_token %}      
                {% for field in form %}
                    {% if field.name != "notes"%}
                        {{field.label}} {{field}}
                    {% endif %}
                {% endfor %}
                <input type="hidden" class="info" value={{info}} name="info">
                <input type="submit" value="Save" class="submit-new-address-button">
            </form> 
        </div>
</div>
{% endblock %}