{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
    Address Edit
{% endblock %}

{% block body %}

<div class="new-edit-address-form-container">
    {% if new %}
        <div class="new-address-form-container">
            <div class="new-address-container-title">
                <h3>New Address</h3>
            </div> 
            <form>
                {{form}}
                <!-- <button type="submit">Create New Address</button> -->
                <input type="submit" value="Create New Address" class="submit-new-address-button">
            </form> 
        </div>
    {% else %}
        <div class="new-address-form-container">
            <div class="new-address-container-title">
                <h3>Edit Address</h3>
            </div> 
            <form>
                {{form}}
                <!-- <button type="submit">Create New Address</button> -->
                <input type="submit" value="Save" class="submit-new-address-button">
            </form> 
        </div>
    {% endif %}
</div>
{% endblock %}