<div id="view-order">
    <p>Order #<b>12775</b> was placed on <b>November 15, 2021</b> and is currently <b>Processing</b></p> 
    <h3>Order details</h3>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Smart relay switch ms-101 <b>x1</b></td>
                <td>$ 9.50</td>
            </tr>
            <tr>
                <td>USB power adapter 5 volt <b>x1</b></td>
                <td>$ 3.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Subtotal:</th>
                <td>$ 12.50</td>
            </tr>
            <tr>
                <th>Shipping:</th>
                <td>$ 1.00</td>
            </tr>
            <tr>
                <th>Payment method</th>
                <td>Cash on delivery</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>$13.50</td>
            </tr>
        </tfoot>
    </table>
    <h3>Shipping address</h3>
    <p>Hamze Chalhoub</p>
    <p>Green area</p>
    <p>Adonis</p>
    <p>70148082</p>
</div>
