// MY ACCOUNT PAGE STYLING 


#my-account-container {
    display: grid;
  
    grid-template-columns: repeat(8, 1fr);
    align-content: space-around;
    grid-column-gap: 80px;
    justify-content: center;
    padding: 2vw 0 1vw 5vw;
    grid-template-areas: 
    't t t t t t t t'
    'd d o o o o o o';
    
    // ACCOUNT NAV
    @import '../components/user-account-nav';
    @import '../components/account-orders-data';
    
    .account-top-login {
        grid-area: t;
        padding: 0 0 5vh 5vh;
        font-size: 15px;
    
    }
}


@media screen and (max-width: 900px) {
    // My account page mobile styling
    #my-account-container {
        row-gap: 20px;
        justify-items: center;
        grid-template-areas: 
        't t t t t t t t'
        'd d d d d d d d'
        'o o o o o o o o';
    }
}

@media screen and (max-width: 710px) {
    // MY ACCOUNT NAVIGATION MENU FULL WIDTH
    #my-account-container {
        padding: 0px ;
    }
    
}