@use '../abstracts/all' as var;
// MY ACCOUNT PAGE STYLING 
#my-account-container {
    padding: 4%;
    // First line of logged in user in my account page
    p {
        padding: 0 0 4% 4% ;
    }

    #my-account-data {
        width: 75%;
        padding: 15px 0 0 60px;
        display: inline-block;
        vertical-align: top;
    }
    
    // ACCOUNT NAV
    @import '../components/account/account-nav';
    @import '../components/account/account-orders-data';
    @import '../components/account/account-order-view';
    @import '../components/account/account-wishlist';
    @import '../components/account/account-edit';
}


@media screen and (max-width: 850px) {
    // My account page mobile styling
    #my-account-container {
        padding: 10px;
        margin: 0;
    }
}