@use '../abstracts/all' as var;
// MY ACCOUNT PAGE STYLING 
#my-account-container {
    padding: 4%;
    // First line of logged in user in my account page
    p {
        padding: 0 0 4% 4% ;
        @include var.par-body;
    }
    
    // ACCOUNT NAV
    @import '../components/account/account-nav';
    @import '../components/account/account-orders-data';
    
    
}


@media screen and (max-width: 850px) {
    // My account page mobile styling
    #my-account-container {
        padding: 10px;
        margin: 0;
    }
}