// MY ACCOUNT PAGE STYLING 
.account-top-login {
    padding: 0 5vw 5vw 5vw;
    margin: 0;
    font-size: 15px;

}

#my-account-container {
    display: flex;
    align-items: stretch;
    // align-content: flex-start;
    justify-content: center;
    color: var.$back-color;
    
    // ACCOUNT NAV
    @import '../components/user-account-nav';
    @import '../components/account-orders-data';
    
    
}


// @media screen and (max-width: 850px) {
//     // My account page mobile styling

// }