@use '../abstracts/all' as var;


// BLOG PAGE STYLE START HERER 
#blog-carousel {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 10px;
    padding: 5px;

    // SINGLE CARD IN CAROUSEL 
    @import '../components/blog-carousel-singe-item';   
}

@media screen and (max-width: 800px) {
    // BLOG PAGE SETTING MOBILITY 
    #blog-carousel{
        grid-template-columns: auto ;
    }

}