// BLOG PAGE STYLE START HERER 
#blog-carousel {
    width: 100%;
    padding: 10px 0 5px 25px ;

    // SINGLE CARD IN CAROUSEL 
    @import '../components/blog-carousel-singe-item';
    
    
}

@media screen and (max-width: 480px) {
    // BLOG PAGE SETTING MOBILITY 
    #blog-carousel{
        padding: 0;
    }

}