// INDEX PAGE SYLE ------------

// SLIDER 
@import '../components/slider';

// CATEGORY AND FEATURED ROW
#cat-featured {
    width: auto;
    padding: 5px 0px 0px 5px;
    display: flex;
    display: -webkit-flex;
    margin-left: 0.5%; 
    
    // Category product menu icons 
    @import '../components/product-category-menu';
    @import '../components/featured-procuct-cards';
}

@import '../sections/home_hero';

