// VIDEO PAGE CAROUSEL 
#video-carousel {
    width: 100%;
    margin: 0;
    padding: 10px 0 20px 10px;
    
    //Each video in carousel 
    @import '../components/youtube-video-card';
    
}

@media screen and (max-width: 480px) {
    // VIDEO PAGE stretch
    #video-carousel {
        padding: 10px;
    }

}