{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
Contact Us
{% endblock %}
{% block body %}
<div id="my-account-container">
    <div><p>You are currently logged in as Hamze Chalhoub</p></div>
    <div class="my-account-navigation">
        <ul>
            <li>Dashboard <i class="fas fa-tachometer-alt"></i></li>
            <li>Orders <i class="fas fa-shopping-cart"></i></li>
            <li>Wishlist <i class="fas fa-list-alt"></i></li>
            <li>Address <i class="fas fa-map-marked-alt"></i></li>
            <li>Account details <i class="fas fa-address-card"></i></li>
            <li>Logout <i class="fas fa-sign-out-alt"></i></li>
        </ul>
    </div>

</div>
{% endblock%}