{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
BLOG
{% endblock %}


{% block body %}
<!-- Blog page carousel container -->
<div id="blog-carousel">

    <!-- Block post thumbnail, title and descriptioj -->
    <!-- Post Url -->
    <a href="#">
        <div class="post-card">
            <!-- Post Image -->
            <img src="{% static 'doobarashop/upload/images/blog1.jpg' %}">
            <div class="post-meta">
                <!-- Post title -->
                <h2>Smart Light Switch</h2>
                <!-- Post Meta description -->
                <p>A good smart light switch that wroks on radio frequency and is a good one to use</p>
            </div>    
        </div>
    </a>

    <a href="#">
        <div class="post-card">
            <img src="{% static 'doobarashop/upload/images/blog2.jpg' %}">
            <div class="post-meta">
                <h2>Home automation</h2>
                <p>Home automation is not a luxery but it can be too, though its mainly about 
                    making things and routinique task easier and more efficient
                </p>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="post-card">
            <img src="{% static 'doobarashop/upload/images/blog3.jpg' %}">
            <div class="post-meta">
                <h2>Smart Home devices</h2>
                <p>To convert your house to a smart one you should teach how to do and orginize 
                    things in your daily life, like coffee, blind, Security and more 
                </p>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="post-card">
            <img src="{% static 'doobarashop/upload/images/blog4.jpg' %}">
            <div class="post-meta">
                <h2>Smart Relay Switch</h2>
                <p>Remotely using this relay switch turn ON/OFF any connected 220v appliance
                    all you need is internet connectivity and a smart phone to control and automate it
                </p>
            </div>
        </div>
    </a>
</div>
{%endblock%}