{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
Contact Us
{% endblock %}
{% block body %}
<!-- Cart page content container  -->
<div class="cart-page-container">
    <!-- In cart product Table -->
    <div class="cart-table-container">
        <table class="products-in-cart">
            <!-- In Cart product table header  -->
            <thead>
                <tr>
                    <th class="in-cart-header-empty"></th>
                    <th class= "in-cart-header-empty"></th>
                    <th class="in-cart-header-product">Product</th>
                    <th class="in-cart-header-price">Price</th>
                    <th class="in-cart-header-quantity">Quantity</th>
                    <th class="in-cart-header-subtotal">Subtotal</th>
                </tr>
                <!-- Tabel body container (here goes the list of data) -->
                <tbody>
                    <tr>
                        <!-- Remove product from cart Icon -->
                        <td class="in-cart-remove-icon">
                            <div> &#x26D2; </div>
                        </td>
                        <!-- Product image  -->
                        <td class="in-cart-img">
                            <img src="{% static 'doobarashop/upload/images/cartthumb.jpg'%}"> 
                        </td>
                        <!-- product name -->
                        <td class="in-cart-product-name"><p>Smart Plug Wifi 16 amps</p></td>
                        <!-- product unit price -->
                        <td class="in-cart-unit-price"><p>$ 15.00</p></td>
                        <!-- product quantity in cart -->
                        <td class="in-cart-product-qtt"><input class="in-cart-qtty" type="number" value="1"></td>
                        <!-- Product subtotal (unit price * quantity) -->
                        <td class="in-cart-units-subtotal"><p>$ 15.00</p></td>
                    </tr>
                    <tr>
                        <td class="in-cart-remove-icon">
                            &#x26D2;
                        </td>
                        <td class="in-cart-img">
                            <img src="{% static 'doobarashop/upload/images/cartthumb.jpg'%}"> 
                        </td>
                        <td class="in-cart-product-name"><p>Smart Plug Wifi </p></td>
                        <td class="in-cart-unit-price"><p>$ 15.00</p></td>
                        <td class="in-cart-product-qtt"><input class="in-cart-qtty" type="number" value="1"></td>
                        <td class="in-cart-units-subtotal"><p>$0</p></td>
                    </tr>
                </tbody>
                <!-- Cart action button for coupon and cart update -->
                <tfoot>
                    <tr>
                        <!-- merging all 6 cells into one in the footer  -->
                        <td colspan="6">
                            <!-- Buttons and input divs container -->
                            <div class="in-cart-footer-container">
                                <!-- Input text for coupon -->
                                <div class="in-cart-coupon-input"><input type="text" placeholder="Coupon code"></div> 
                                <!-- Apply coupon button -->
                                <div class="in-cart-apply-coupon-button"><button>Apply coupon</button></div>
                                <!-- apply cart changes from table button -->
                                <div class="in-cart-update-cart-button"><button>Update Cart</button></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </thead>  
        </table>
    </div>

    <!-- Check cart section container -->
    <div class="cart-total-container">
        <div>
            <!-- check out table title -->
            <h2 class="cart-total-title"> Cart totals</h2>
                <table>
                    <tr>
                        <th>Subtotal</th>
                        <td> $ 54.50 </td>
                    </tr>
                    <tr>
                        <th>Shipping </th>
                        <td> $ 2.00 <p> some kind of message </p></td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>$ 55.50 </td>
                    </tr>
                </table>
                <!-- proceed checkout button -->
                <button class="cart-proceed-checkout-button">
                    Proceed to checkout &#8594;
                </button>  
        </div>
    </div>
</div>
{% endblock %}