{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
My Cart
{% endblock %}
{% block body %}
<div class="checkout-page-container">
    <div class="checkout-shipping-details-container">
        <h1>Shipping details</h1>
        <form class="shipping-details">
            <!-- FIRST AND LAST NAME CONTAINER -->
            <div class="shipping-1st-row">
                <!-- First name  -->
                <div class="shipping-first-name">
                    <label>First name</label>
                    <input type="text" value="Hamze">
                </div>  
                <!-- Last name  -->
                <div class="shipping-last-name">
                    <label>Last name</label>
                    <input type="text" value="Chalhoub">
                </div>  
                <!-- City and town  -->
                <div class="shipping-city-town">
                    <label>City/Town</label>
                    <input type="text" value="Jounieh/Adonis">
                </div>  
                <!-- Street name -->
                <div class="shipping-street">
                    <label>Street name</label>
                    <input type="text" value="Green area">
                </div>  
                <!-- apartment blding, details -->
                <div class="shipping-street">
                    <label>Building, appartment details</label>
                    <input type="text" value="Elie Azar, 3d floor">
                </div>  

                </div>
            </div>
        </form>

    </div>
    <div class="checkout-order-invoice">

    </div>
</div>

{% endblock %}