{% load static %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <!-- MOBILE RESPONSIVILITY -->
        <meta name="viewport" content="widt=device-width, initial-scale=1.0">
        
        <link href="{% static 'doobarashop/style.css' %}" rel="stylesheet">
        <script href="{% static 'doobarashop/main.js'}"></script>

        <title>{% block pagetitle %}{%endblock%}</title>
    </head>
    <body>
        <div class="top-bar">
            <div class="tob-bar-left">
                <ul>
                    <li><a href="tel:96170856471"> 70 856471</a></li>
                    <li>Cash on delivery</li>
                </ul>
            </div>
            <div class="top-bar-right">
                <p>Social Media</p>
            </div>
        </div>

        <h1>we are working hard to create things that matter</h1>
    </body>

</html>