{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
SHOP
{% endblock %}
{% block body %}
<!-- Shop carousel container -->
<div id="container-shop">
    {% for row in lop %}
    <div class="shop-product">
        <a href="single_product">
            <!-- Product Thumb, title price -->
            <!-- Product image -->
            <img src={{row.pmainimage}}>
            <!-- Product Name -->
            <p class="product-name">{{row.pname}}</p>
            <!-- product price -->
            <p class="product-price">$ {{row.pprice}}</p>
            <!-- <div class="vertical-center"> -->
        </a>
        <button>Add to Cart</button>    
    </div>

    {% endfor %}
    
</div>

{% endblock %}