{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
SHOP
{% endblock %}
{% block body %}
<div id="container">
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/4m.jpg' %}">
            <div class="product-info">
            <p>Smart WiFi Camera</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/doorcam.jpg' %}">
            <div class="product-info">
            <p>Door bell camera</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/IR.jpg' %}">
            <div class="product-info">
            <p>Smart WiFi Universal remote control</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/siren.jpg' %}">
            <div class="product-info">
            <p>Security Wifi Siren</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/hub.jpg' %}">
            <div class="product-info">
            <p>Zigbee Gateway Hub</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/4m.jpg' %}">
            <div class="product-info">
            <p>Smart Camera</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/doorcam.jpg' %}">
            <div class="product-info">
            <p>Smart Camera</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/IR.jpg' %}">
            <div class="product-info">
            <p>Smart Camera</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/siren.jpg' %}">
            <div class="product-info">
            <p>Smart Camera</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    <div class="product">
        <img src="{% static 'doobarashop/upload/images/hub.jpg' %}">
            <div class="product-info">
            <p>Smart Camera</p>
            <p>$42.00</p>
            <div class="vertical-center">
                <button>Add to Cart</button>
            </div>  
        </div>
    </div>
    
</div>

{% endblock %}