{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
SHOP
{% endblock %}
{% block body %}
<!-- Shop carousel container -->
<div id="container-shop">
    {% for row in lop %}
    <div class="shop-product">
        <a href="single_product">
            <!-- Product Thumb, title price -->
            <!-- Product image -->
            <img src="{% static 'doobarashop/upload/images/4m.jpg' %}">
            <!-- Product Name -->
            <p class="product-name">{{row.pname}}</p>
            <!-- product price -->
            <p class="product-price">$ {{row.pprice}}</p>
            <!-- <div class="vertical-center"> -->
        </a>
        <button>Add to Cart</button>    
    </div>

    {% endfor %}
    <!-- Single product from data arbitrary list 
    <div class="shop-product">
        <a href="single_product">  
            <img src="{% static 'doobarashop/upload/images/doorcam.jpg' %}">
            <p class="product-name">Door bell camera</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div>

    <div class="shop-product">
        <a href="single_product">
            <img src="{% static 'doobarashop/upload/images/IR.jpg' %}">
            <p class="product-name">Smart WiFi Universal remote control</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div>

    <div class="shop-product">
        <a href="single_product">
            <img src="{% static 'doobarashop/upload/images/siren.jpg' %}">
            <p class="product-name">Security Wifi Siren</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div>

    <div class="shop-product">
        <a href="single_product">
            <img src="{% static 'doobarashop/upload/images/hub.jpg' %}">
            <p class="product-name">Zigbee Gateway Hub</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div>

    <div class="shop-product">
        <a href="single_product">
            <img src="{% static 'doobarashop/upload/images/4m.jpg' %}">
            <p class="product-name">Smart Camera</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div>

    <div class="shop-product">
        <a href="single_product">
            <img src="{% static 'doobarashop/upload/images/doorcam.jpg' %}">
            <p class="product-name">Smart Camera</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div>

    <div class="shop-product">
        <a href="single_product">
            <img src="{% static 'doobarashop/upload/images/IR.jpg' %}">
            <p class="product-name">Smart Camera</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div>

    <div class="shop-product">
        <a href="single_product">
            <img src="{% static 'doobarashop/upload/images/siren.jpg' %}">
            <p class="product-name">Smart Camera</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div>

    <div class="shop-product">
        <a href="single_product">
            <img src="{% static 'doobarashop/upload/images/hub.jpg' %}">
            <p class="product-name">Smart Camera</p>
            <p class="product-price">$42.00</p>
        </a>
        <button>Add to Cart</button>
    </div> -->
    
</div>

{% endblock %}