{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
VIDEO
{% endblock %}
{% block body %}
<!-- video carousel page -->
<div id="video-carousel">
    <!-- single video  -->
    <div class="video-card">
        <h2>Door Sensor</h2>
        <div class="youtube-video">
            <iframe src="https://www.youtube.com/embed/NZtVLt9Twuw" 
                title="YouTube video player" frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="video-card">
        <h2>Motion Sensor</h2>
        <div class="youtube-video">
            <iframe
                src="https://www.youtube.com/embed/FTqQYB6CmUc" 
                title="YouTube video player" frameborder="0" 
                allowfullscreen>
            </iframe>
    </div>
    </div>

    <div class="video-card">
        <h2>Door Sensor</h2>
        <div class="youtube-video">
            <iframe src="https://www.youtube.com/embed/6Qy_9DDzV70" 
                title="YouTube video player" frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="video-card">
        <h2>Motion Sensor</h2>
        <div class="youtube-video">
            <iframe 
                src="https://www.youtube.com/embed/Rsq0DIjpWdk" 
                title="YouTube video player" frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
    </div>

</div>
 

{%endblock %}

