{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
VIDEO
{% endblock %}
{% block body %}
<div id="video-carousel">
    <div class="video-card">
        <h2>Door Sensor</h2>
        <iframe width="655" height="368" src="https://www.youtube.com/embed/NZtVLt9Twuw" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>

    <div class="video-card">
        <h2>Motion Sensor</h2>
        <iframe width="655" height="368" 
            src="https://www.youtube.com/embed/FTqQYB6CmUc" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>

    <div class="video-card">
        <h2>Door Sensor</h2>
        <iframe width="655" height="368" src="https://www.youtube.com/embed/6Qy_9DDzV70" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>

    <div class="video-card">
        <h2>Motion Sensor</h2>
        <iframe width="655" height="368" 
            src="https://www.youtube.com/embed/Rsq0DIjpWdk" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>

</div>
 

{%endblock %}