{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
Home Automation
{% endblock %}
{% block body %}
<div class="index-page-container">
  <div class="top-section">
    <div class="top-image">
      <img src="{% static 'doobarashop/upload/images/lamp-hero-beta.jpg' %}" alt="Home Automation">
    </div>
    <div class="top-section-title">
      <h3>Tapiu Forma Series of Lamshades</h3>
    </div>
  </div>

  <div class="carousel-container">
    <h2>Checkout Tapiu lampshades!!</h2>
    <div class="product-card-container">
      {% for product in lop %}
        <div class="product-card">
          <a href="/single_product/{{product.pname}}">
            <img src="{% static product.pmainimage.iurl %}" alt="{{product.pmainimage.ialt}}">
            <div class="card-info">
              <p class="card-product-name">{{product.pname}}</p>
              <p class="card-product-price">$ {{product.pprice}}</p>
            </div>
          </a>
        </div>
    {% endfor %}
    </div>
  </div>


  <div class="carousel-container">
    <h2>GO Smart! Check these smart devices</h2>
    <div class="product-card-container">
      {% for product in lop %}
        <div class="product-card">
          <a href="/single_product/{{product.pname}}">
            <img src="{% static product.pmainimage.iurl %}" alt="{{product.pmainimage.ialt}}">
            <div class="card-info">
              <p class="card-product-name">{{product.pname}}</p>
              <p class="card-product-price">$ {{product.pprice}}</p>
            </div>
          </a>
        </div>
    {% endfor %}
    </div>
  </div>

  <div class="carousel-container">
    <h2>Items In Sale HERE!!</h2>
    <div class="product-card-container">
      {% for product in lop %}
        <div class="product-card">
          <a href="/single_product/{{product.pname}}">
            <img src="{% static product.pmainimage.iurl %}" alt="{{product.pmainimage.ialt}}">
            <div class="card-info">
              <p class="card-product-name">{{product.pname}}</p>
              <p class="card-product-price">$ {{product.pprice}}</p>
            </div>
          </a>
        </div>
    {% endfor %}
    </div>
  </div>
</div>  

{%endblock%}