{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
SHOP
{% endblock %}
{% block body %}
<!-- Shop carousel container -->
<div class="filterproduct">
    <form action="{% url 'orderby' %}" method="POST">
        {% csrf_token %}
        <select name="category">
            <option value="all">Categories</option>
            {% for cat in cats %}
            <option value="{{cat.name}}">{{cat.name}}</option>
            {% endfor %}
        </select>

        <select name="byorder">
            <option value="default">By order</option>
            <option value="AZ">A-Z</option>
            <option value="ZA">Z-A</option>
            <option value="lhp">Low Price</option>
            <option value="hlp">High Price</option>
        </select>
        <input class="filtersubmit" type="submit" value="Filter">
    </form>

</div>
<div id="container-shop">
    {% for row in lop %}
    <div class="shop-product">
        <a href="/single_product/{{row.pname}}">
            <!-- Product Thumb, title price -->
            <!-- Product image -->
            <!-- <img src={{row.pmainimage}}> -->
            <img src="{% static row.pmainimage.iurl %}" alt="{{row.pmainimage.ialt}}">
            
            <!-- Product Name -->
            <p class="product-name">{{row.pname}}</p>
            <!-- product price -->
            <p class="product-price">$ {{row.pprice}}</p>
            <!-- <div class="vertical-center"> -->
        </a>
        <button class="shop-add-to-cart" value="{{row.pid}}">Add to Cart</button>    
    </div>

    {% endfor %}
    
</div>

{% endblock %}