{% extends "doobarashop/layout.html" %}
{% load static %}

{% block pagetitle %}
Product Name
{% endblock %}
{% block body %}
<!-- SINGLE PRODUCT PAGE ELEMENT CONTAINER -->
<div class="single-product-page-container">

    <!-- PRODUCT NAME TITLE -->
    <h3 class="single-product-title">{{product.pname}}</h3>

    <!-- PRODUCT IMAGE SLIDER -->
    <div class="single-product-image">
         <div class="spmainimae">
            <img id="spi" width="400" height="400" src="{% static product.pmainimage.iurl %}">
        </div>
    
        <!-- Images thumbnails -->
        <div class="single-product-image-thumb">
            {% for image in product.pallimages %}
                {% if  image.ilong == False %}
                    <!-- PRODUCT IMAGE IN THUMBNAIL SIZE TO USE IN IMAGE -->
                    <img width="70" height="70" class="sp-thumb-image" src="{% static image.iurl %}">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="product-highlight">
        <!-- PRODUCT PRICE -->
        <h3 id="spp" class="single-product-price">$ {{product.pprice}} </h3>
        
        <!-- PRODUCT VARIANTS IF EXIST loop over and add the variants to select element -->
        <div class="single-product-variant">
            {% if product.pvariant %}           
                <select name="variant" id="variants">
                    {% for var in product.pvariant %}
                        {% if var.default %}
                            <option selected="selected" class="svoption" value="{{var}}">{{var.title}}
                            </option>
                            
                        {% else %}
                            <option class="svoption" value="{{var}}">{{var.title}}
                            </option>
                            

                        {% endif %}
                        
                    {% endfor %}
                </select>        
            {% endif %}
        </div>


        <!-- PRODUCT QUANTITY TO ADD TO CART (DEFAULT !) -->
        <input id="spq" class="single-product-quantity" type="number" value="1" min="0">

        <!-- ADD TO CART BUTTON -->
        <button id="spatc" class="single-product-addtocart shop-add-to-cart" value="{{product.pid}}">Add to cart</button>

        <!-- PRODUCT SHORT SPESIFICATION (MAINLY LIST) -->
        <div class="single-product-specs">
            <h3>Specification</h3>
            {{product.pshortdescription|safe}}
        </div>
    </div>

    <!-- PRODUCT VIDEO (DISPLAY NONE IF THERE IS NO VIDEO) -->
    {% if product.pvideo %}
        <div class="single-product-video">
                <div class="single-video">
                        <iframe 
                        src={{product.pvideo}} 
                        title="YouTube video player" frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </div>
        </div>
    {% endif %}

    <!-- LONG IMAGE TO DESCRIBE THE PRODUCT VISUALLY -->
    {% for image in product.pallimages %}
        {% if image.ilong %}
            <img class="single-product-image-long" src="{% static image.iurl %}">
        {% endif %}
    {% endfor %}

    <!-- LONG DESCRITPION ABOUT THE PRODUCT DETAILS -->
    <div class="single-product-long-desc">
        <h3>Description</h3>
        {{product.plongdescription|safe}}
       
    </div>

    <!-- PODUCT DIMENTION AND WHAT IN PACKGE TABLE  -->
    <div class="single-product-dimention">
        <h3>Additional information</h3>
        <table>
            <tr>
                <th>Weight </th>
                <td>33 g</td>
            </tr>
            <tr>
                <th>Dimension</th>
                <td>8.3x8.3x1.5</td>
            </tr>
            <tr>
                <th>In Package</th>
                <td>
                    <ul>
                        <li>Camera</li>
                        <li>Reset pin</li>
                        <li>Adapte 5v</li>
                        <li>USB Cable</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}