// defining design color style
$back-color:  #292826;      //secondary color
$identity-color: #F9D342;   //primary color 
$primary-font: Arial, sans-serif;
$secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$third-font: Verdana, Geneva, Tahoma, sans-serif;
$input-background-color-v1: #f2f2f2;;
$table-header-background-color-v1: rgba(233, 233, 233, 0.582);
$table-body-background-color-v1: rgba(245, 245, 245, 0.336);
